[2013-07-23 20:21] larsoner opened #3 "ENH: Add flag to check stimulus levels on load"
I think we should do this in two ways:
1. A method for ExperimentController that you can pass filenames or wav-data that will check to make sure your stimuli will not be too loud.
2. There could also be a flag to do this checking every time the sound stimulus is loaded (in `load_buffer` or whatever). This could slow down the code, so we can make this a switch like `ec.check_dB_on_load = True`.

Th

[2013-07-23 20:26] larsoner opened #4 "ENH: Experiment data storing class"
It would be good if we could have a class that held experiment data in a somewhat standardized fashion to limit the probability of errors. We'll need to make it flexible enough to handle any user datatype, so we can just have the class extend the `dict` class. Then we can add methods that make it easy to save the data. Something like:

[code]

The user can then do `ed = ExperimentData()` and acces

[2013-07-23 20:30] larsoner opened #5 "FIX: Incorporate TDTPy, psychopy"
Right now (even with my PR) the code won't do anything. I'm just adding this bug so that @drammock can have something to close once things get to a working state. :)

[2013-08-08 01:04] larsoner opened #9 "Pile-up of PP windows in tests"
The psychopy windows do not get closed by `ec.close()` properly, so they accumulate during tests.

[2013-08-08 01:05] larsoner opened #10 "AL Lib warning in test"
At the conclusion of tests, I get:

[code]

Tests should throw no warnings (that aren't caught justifiably).

[2013-08-08 01:05] #5 closed, assigned to nobody

[2013-08-08 01:06] larsoner opened #11 "ENH: Add eyetracker support"
Make `EyelinkController` subclass be useful.

[2013-08-08 01:17] larsoner opened #12 "ENH/FIX: Deal with sampling rates"
We should figure out how to handle sample rates. I think the sane thing to do is have people enter the sample rate they used to generate stimuli (just like they do for the RMS they used). We then always initialize the system to use either 24414 (for TDT systems) or 44100 Hz (for Psychopy systems), and do resampling for them if necessary. Users should know that resampling takes a non-zero amount of

[2013-08-13 15:23] #10 closed, assigned to drammock

[2013-08-13 15:24] #9 closed, assigned to drammock

[2013-08-13 19:56] larsoner opened #13 "FIX: Unify logging / verbose"
Right now we have some code to deal with verbosity. We also have some code in EC that deals with what gets printed to the console. These need to be unified.

[2013-08-13 20:00] larsoner opened #14 "FIX: Docs"
Right now the docs don't build because I've only partially migrated them. Adding this to my todo list.

[2013-08-13 21:21] drammock opened #15 "add EEG support"
eeg.py

[2013-08-13 21:21] drammock opened #16 "add eyetracker support"
eyelink.py

[2013-08-13 21:24] #16 closed, assigned to larsoner

[2013-08-13 21:49] drammock opened #17 "stim resampling"
add support (and proper warnings) for stimulus resampling in EC.  already have argument stim_fs

[2013-08-13 21:49] #17 closed, assigned to drammock

[2013-08-14 16:22] drammock opened #18 "ENH: interactive testing"
add flag for interactive testing (fullscreen, button presses, etc)

[2013-08-14 21:29] drammock opened #20 "ENH: Implement psychopy gaussian noise generation"

[2013-08-14 23:08] larsoner opened #21 "FIX: ec.wait_secs in example"
This should be changed to just `wait_secs` with an import for `wait_secs`. Now that I think about it, we could save users an import just by adding the `wait_secs` method wrapper to `ExperimentController`. Pyflakes might not like it, but it will save users an extra import, so why not? @drammock WDYT?

Not fixing it myself since I assume you're going to be mucking with these classes a little bit to

[2013-08-15 00:11] #11 closed, assigned to larsoner

[2013-08-15 00:15] larsoner opened #23 "ENH: Add triggering support"
It's already supported pretty easily in the TDT, but we should also support it via Psychopy (parallel port?). @drammock do you know what PP's triggering capabilities are?

Psychopy will only be a full replacement for TDT if it can do this...

[2013-08-15 04:37] #13 closed, assigned to larsoner

[2013-08-15 17:57] #21 closed, assigned to drammock

[2013-08-15 18:16] #15 closed, assigned to larsoner

[2013-08-15 19:51] #14 closed, assigned to larsoner

[2013-08-15 20:04] #18 closed, assigned to drammock

[2013-08-16 00:25] larsoner opened #27 "FIX: Exposure of non-user-level attributes"
Just noticed that the `experiment_controller` class has a number of attributes named in a user-accessible way (e.g., `self.button_handler`, `self.data_handler`). I don't think we want these exposed to the user, so we should do a find/replace to make them all have underscores. Perhaps @drammock you should do it as part of your TDT migration? That would probably be the natural time to do it.

[2013-08-16 16:39] #23 closed, assigned to drammock

[2013-08-19 19:15] drammock opened #29 "ENH: unify self._check_force_quit and _add_escape_keys"
a refactor that will eliminate the external function and build in automatic force-quit checking so that users don't have to explicitly check for force quit in their scripts.

[2013-08-19 23:49] drammock opened #30 "ENH: low-pass the noise when using PsychoPy"

[2013-08-20 18:21] #27 closed, assigned to drammock

[2013-08-20 18:21] #20 closed, assigned to drammock

[2013-08-21 17:09] drammock opened #32 "Enhanced wait method"
To allow non-trivial amounts of processing to occur during wait periods like ISIs, without compromising the integrity of the wait timing (as requested by @rkmaddox).

[2013-08-24 00:44] #4 closed, assigned to drammock

[2013-08-24 00:45] #29 closed, assigned to drammock

[2013-08-26 16:08] drammock opened #35 "migrate audio backend to pyo"
pyo has lower latency than pygame audio.  Currently psychopy only exposes this through a hidden preference accessible only through the GUI.  Should be able to submit a patch that exposes it in the code.

[2013-08-26 16:39] #12 closed, assigned to drammock

[2013-08-26 22:07] #32 closed, assigned to drammock

[2013-08-27 20:02] #3 closed, assigned to drammock

[2013-08-27 20:35] larsoner opened #39 "ENH: Raise errors on warnings in tests"
We should add the following line to our tests:

[code]

This will make us heed warnings in our code. @drammock feel free to add this to your PR if you're feeling adventurous, otherwise I can do it in my upcoming windows-fixes PR.

[2013-08-27 22:50] #39 closed, assigned to nobody

[2013-08-27 22:52] drammock opened #40 "Q: possible refactor of `wait_until`"
see this code sample from
http://www.psychopy.org/api/core.html#psychopy.core.StaticPeriod

[code]

[2013-08-28 18:57] larsoner opened #42 "FIX: Need to check EL calibration"
While we're at it, we need to set the config for the Windows computer. I couldn't do it before I got kicked off the behavioral laptop, shouldn't take more than a few minutes. But we need to do it before running any eyetracking experiments.

We also need to validate that the EL files that get written out correctly by the new setup, since that hasn't been tested. That will be slightly more annoying.

[2013-08-30 20:33] larsoner opened #45 "FIX: Need to establish parallel port reliability"
Check trigger-to-audio, trigger-to-video timing.

[2013-09-04 16:09] #30 closed, assigned to larsoner

[2013-09-04 16:15] larsoner opened #47 "ENH: Add TDT button-press support"
This should probably be done since we aren't buying a standalone button box in the near term. This will require changing the circuit functionality, I think this just means:
1. Removing the resetting of the button-box counter when audio is played.
2. Add manual bbox counter reset.
3. Expose tags appropriately in `TDTController` class, and wrap calls appropriately.

@drammock I think I might take th

[2013-09-04 22:06] larsoner opened #48 "ENH: Add `None` support for `output_dir`"

[2013-09-06 15:52] #48 closed, assigned to drammock

[2013-09-06 17:46] drammock opened #51 "ENH: flush data to file incrementally during experiment"
This amounts to adding a `file.open()` and `file.close()` (or a `with` clause) to the `write_data_line` method, adding a `file.close` after the header is written, and removing the `file.close()` from the cleanup stack in `__exit__`.  Constantly opening and closing files is admittedly less efficient than letting python keep everything in the buffer and doing one big write at the end, but for safety

[2013-09-06 22:16] drammock opened #54 "do we still need screen_text to be public?"
screen_prompt with clear_screen=False might be enough...

[2013-09-07 22:34] #47 closed, assigned to larsoner

[2013-09-07 22:35] larsoner opened #56 "FIX: Need to check AV and non-TDT timing (incl. parallel port)"
@drammock I figure this is a good learning opportunity if you haven't done AV-timing calibrations before. We can do this next week with the TDT review if you want, or I can just do it.

[2013-09-07 22:43] #51 closed, assigned to drammock

[2013-09-07 22:45] larsoner opened #57 "FIX: Need to check non-TDT audio timing"
We'll probably want to wait to do this until the `pyo` business is settled, but it should be on our to-do list.

[2013-09-09 15:46] drammock opened #58 "FIX: minor tweaks"
- use `write_data_line` in init
- make `fq` a boolean, access `force_quit` in TCT through the EC

[2013-09-09 15:57] #58 closed, assigned to nobody

[2013-09-09 16:22] drammock opened #59 "STY: migrate force-quit checking from EC to IC"
all in the title...

[2013-09-23 16:01] larsoner opened #65 "ENH: Allow `screen_prompt` to take list"
For multi-page instructions.

[2013-09-23 16:01] drammock opened #66 "ENH: screen_prompt should accept lists for multi-part instructions"
good idea.

[2013-09-23 16:03] #65 closed, assigned to nobody

[2013-09-23 22:28] #66 closed, assigned to larsoner

[2013-09-24 00:02] drammock opened #70 "FIX: mismatch between psychopy flip&play timestamp and master clock"
`flip_and_play` is getting logged by `ec.write_data_line` at a time **earlier** than the time returned by psychopy as the flip time (even though `ec.write_data_line` is getting called **after** `flip_and_play` has returned.

[2013-09-24 00:05] drammock opened #71 "conflict between listen_presses and wait_secs"
When calling `listen_presses()` followed by `wait_secs()` followed by `get_presses()`, the timestamps are all showing up as the time that `get_presses()` was called, rather than the timestamps where the individual presses actually occurred.

If instead of `wait_secs` we use a `while` loop, it slams the CPU and audio playback is compromised (@Eric89GXL thinks this might be resolved by smarter threa

[2013-09-24 22:36] #70 closed, assigned to nobody

[2013-09-25 15:47] #71 closed, assigned to nobody

[2013-09-26 01:45] #54 closed, assigned to nobody

[2013-09-26 01:47] drammock opened #75 "what good is clear_screen now"
all it does now is call `ec.flip()` and `write.data.line('flip', flip_time)`.  It's name has become somewhat misleading now that we're not keeping track of screen objects internally.  WDYT, @Eric89GXL ?

[2013-09-26 01:48] #35 closed, assigned to drammock

[2013-10-18 20:57] drammock opened #76 "wav.read and wav.write wrapper"
expyfun.stimuli
wrapper for `scipy.io`'s `wav.read` and `wav.write`

[2013-10-18 20:58] drammock opened #77 "build in BRIR / HRTF"
expyfun.stimuli
build in BRIR / HRTF data from Barb's lab, and wrapper functions to do the convolution.

[2013-10-18 21:00] drammock opened #78 "RMS convenience function"
expyfun.stimuli
rms convenience function

[2013-10-18 21:01] drammock opened #79 "output cleaning / conversion"
expyfun.analyse
clean output file & convert to wide format

[2013-10-18 21:01] drammock opened #80 "d-prime convenience function"
expyfun.analyse
d-prime convenience function

[2013-10-24 00:31] #80 closed, assigned to nobody

[2013-10-24 23:13] #57 closed, assigned to drammock

[2013-10-24 23:14] #45 closed, assigned to larsoner

[2013-10-24 23:29] drammock opened #83 "add basic plotting functionality to expyfun.analyze"
... and then add an output plot to simple_experiment and eylink example

[2013-10-24 23:44] #83 closed, assigned to drammock

[2013-11-14 18:34] #56 closed, assigned to drammock

[2013-11-14 18:54] #78 closed, assigned to drammock

[2013-11-14 18:55] #75 closed, assigned to nobody

[2013-11-14 18:55] #76 closed, assigned to drammock

[2013-11-14 21:13] larsoner opened #88 "ENH: Remove psychopy dependencies"
We should go straight to pyglet.

[2014-01-06 23:09] larsoner opened #91 "ENH: Add TravisCI and Coveralls"
Should help development.

[2014-01-06 23:14] #88 closed, assigned to larsoner

[2014-01-06 23:15] #59 closed, assigned to larsoner

[2014-01-07 21:29] #91 closed, assigned to larsoner

[2014-01-08 21:25] Eric89GXL opened #96 "ENH: Use `vispy`"
It's probably ~6 months in the making, but we should change from using legacy OpenGL code to that library.

[2014-01-08 23:00] larsoner opened #97 "ENH: Remove `create_system_config`"
I think it will be used pretty rarely. I think it might be better just to include an example in the docs showing how to use the keys. That would be even more useful, so people understand how preferences get stored and accessed.

[2014-01-09 23:20] #97 closed, assigned to nobody

[2014-02-03 17:56] drammock opened #104 "add vocoder to stimuli functions"
Or perhaps just a function for band-separation, allowing selection of band limits, number of bands, and spacing (linear-Hz, log2-Hz, etc).

[2014-03-31 20:29] #77 closed, assigned to drammock

[2014-04-08 00:35] drammock opened #113 "Pyglet horizontal alignment of text"
All of our `screen_text` objects are created with `pyglet.text.HTMLLabel` property `multiline=True` (line 82 of expyfun's `_visual.py`).  This means that `width` defaults to `0.8 * screen_width` and we can't set `h_align`: centering has to be done as `<center> ... </center>` within the content string. This has its own problems: pyglet unpredictably inserts tab stops or extra spaces between words w

[2014-04-08 01:46] drammock opened #114 "ENH: allow play() to interact with indentify_trial()"
I'm struggling with how `flip()`, `play()`, and `flip_and_play()` are working with the new `identify_trial()` functionality. I need to draw text on the screen, wait a specified duration so that users can absorb what they see, and then start the audio. Seems like the sensible way to code this should be:

[code]

Because only `flip_and_play()` interacts with `identify_trial()`, it doesn't get reset,

[2014-04-08 16:39] #42 closed, assigned to larsoner

[2014-04-08 18:59] #40 closed, assigned to rkmaddox

[2014-04-08 19:00] #114 closed, assigned to drammock

[2014-04-09 17:45] drammock opened #116 "ENH: make simple experiment more friendly"
Got this error running `simple_experiment` on the booth tower. This is using the most up-to-date version of `expyfun:master` as of yesterday:
'''
Traceback (most recent call last):
  File "C:\Users\labsner\python\expyfun_dan\examples\simple_experiment.py", line 75, in <module>
    verbose=True) as ec:
  File "c:\users\labsner\python\expyfun_dan\expyfun_utils.py", line 354, in dec
    ret = functio

[2014-04-09 20:46] #116 closed, assigned to drammock

[2014-04-14 20:34] #104 closed, assigned to drammock

[2014-04-16 21:02] larsoner opened #121 "Pyglet sound fails eventually"
Calling `play_sound` repeatedly causes failures eventually. This _might_ creep into our experiment debugging, too, not sure.

Opened an issue on the Pyglet issue tracker, we'll see what people say:

https://code.google.com/p/pyglet/issues/detail?id=736&sort=-id&colspec=ID%20Stars%20Type%20Status%20OpSys%20Modified%20Summary

[2014-04-17 20:29] rkmaddox opened #124 "ENH: Chi-squared estimate of reaction times"

[2014-04-17 20:31] rkmaddox opened #125 "ENH: make a mat saving function that gives you the original python size"
Do oned_as='column' so that it uses MATLAB default in MATLAB and python default in python.

[2014-04-17 20:39] rkmaddox opened #126 "ENH: Functionality to checkout specific version of expyfun locally"

[2014-04-18 17:34] #124 closed, assigned to rkmaddox

[2014-04-23 22:26] larsoner opened #134 "FIX: chisq check"
If there is a _really_ long RT, it can break the chisq code. We should add a check for something reasonable (maybe 3 SDs) and throw a warning.

[2014-04-24 19:29] #79 closed, assigned to drammock

[2014-06-08 00:00] #121 closed, assigned to nobody

[2014-06-10 16:07] rkmaddox opened #147 "FIX: Different channel counts, dimensionality in audio functions"
When you read in a wav file, it will be loaded as 1xN or 2xN (two-dimensional) depending on if it is mono or stereo. When synthesizing a sound, it will often be one-dimensional. Playing audio in ExperimentController requires 2xN, IIRC, but using hrtf_convolve requires 1-D.

I would like to modify the relevant functions so that, where appropriate, they accept  1-D or 1xN arrays as mono audio, and 2

[2014-06-12 18:37] #134 closed, assigned to nobody

[2014-06-12 23:47] drammock opened #149 "fftw?"
Saw this on stack exchange and it reminded me:

[code]

I know @Eric89GXL and I talked about this last week, but I can't remember why we're not doing something like this. Licensing?

[2014-06-12 23:52] #149 closed, assigned to nobody

[2014-06-16 21:23] larsoner opened #151 "ENH: Simpler experiment"
Our current `simple_experiment.py` isn't quite simple enough. I think we should have one with as few lines as possible that:
1. Draws something
2. Plays a sound
3. Gets some key presses

And then move `simple_experiment.py` -> `basic_experiment.py`.

I'm going to try to convince KC to make these changes :)

[2014-06-16 21:25] larsoner opened #152 "FIX?: Data output dir"
What do people think about outputtting data just to `data` instead of `rawData`? I'm less used to having camelcase filenames now so I'd rather not have to use it, and `data` is still compatible with camelcase for people who want it.

[2014-06-17 15:15] #152 closed, assigned to nobody

[2014-06-17 22:08] larsoner opened #155 "ENH: Parameter writing functions"
We should have some clean way of storing experimental parameters. @drammock @rkmaddox @deanp3 @lkishline it would be good to get your opinion on this as we move forward.

The nicest thing in my mind would be to have `write_XXX(fname, data)` and `data = read_XXX(fname)` functions that took a dictionary of parameters `data` and wrote it to / read it from `fname` seamlessly, at least for some reasona

[2014-06-23 22:20] Eric89GXL opened #158 "ENH: Github cheat sheet"
@deanp3 can you put one together based on what you're learning? Something to help @akclee do his PR would be excellent. It could go in the `expyfun` wiki, we should add a section called "development".

[2014-06-23 22:20] #155 closed, assigned to nobody

[2014-06-23 22:21] #113 closed, assigned to nobody

[2014-06-23 22:52] #125 closed, assigned to rkmaddox

[2014-06-30 21:39] #126 closed, assigned to lkishline

[2014-07-14 20:34] #147 closed, assigned to rkmaddox

[2014-07-21 17:22] drammock opened #173 "better testing for mouse clicks"
I noticed that the mouse click PR #169 didn't involve much in the way of testing.  Proposing that a test be added that requires an actual mouse click or two, with an `@test_interactive` decorator just like the keypress testing.

[2014-07-21 23:14] rkmaddox opened #175 "ENH: describe HRIR/HRTF spec in documentation"
Trying to add a new set of HRIRs (that should have better low end), but it is not super clear what the file formats should be. From the commented out code in ```_hrtf.py``` it looks like the HRTFs should be in an array with ```shape=(2, n_angles, n_time_points)``` and there should also be a list of angles that are of type ```float``` (seems like it will bomb if the type were accidentally ```int```

[2014-07-24 16:28] larsoner opened #179 "FIX: Fix mouse tests"
Mouse tests should be made more comprehensive, e.g. by sending fake mouse events. While we're at it, we should also use fake keyboard events. This would allow us to get rid of "interactive testing" altogether, which would be nice.

We should try to do this by making functions like "fake_mouse_press" / "fake_key_press". That way it would be possible to add a scripting tag/comment at the top of the

[2014-08-18 16:39] rkmaddox opened #182 "FIX: Text display on windows with larger font sizes"
So the recent addition of font control in `screen_prompt` has revealed what I anticipate to be a nasty Pyglet bug. Displayed text has random (as far as I can tell) but reproducible spacing issues where large amounts of horizontal space are placed in between letters in the string. This is happening post-wrap, as it causes the text to go off the screen to the right instead of creating more lines.

P

[2014-08-18 16:40] #173 closed, assigned to rkmaddox

[2014-08-18 16:56] rkmaddox opened #183 "ENH: Keyboard check function (even if TDT is input device)"
Much like we have a quit key that is for the experimenter's use, it would be good to extend that functionality to an arbitrary key or set of keys and return a logical (rather than throw an error) if it had been pressed. This would allow for things like pausing the experiment by the experimenter.

Is the best way to do this to define a general "was key pressed" private function, then have the quit

[2014-08-22 16:35] larsoner opened #184 "FIX: Actually hide mouse"
Might need to use `platform_set_visible`.

[2014-08-28 16:30] #184 closed, assigned to rkmaddox

[2014-08-29 19:05] #179 closed, assigned to rkmaddox

[2014-08-29 23:33] larsoner opened #190 "ENH: Make code citable"
https://guides.github.com/activities/citable-code/

Any volunteer? This is a low-hanging fruit.

[2014-08-31 23:34] #190 closed, assigned to nobody

[2014-08-31 23:36] Eric89GXL opened #191 "ENH: Add whats_new.py to docs"
We should really have a what's_new.rst like mne-python and integrate it with the docs. @drammock @rkmaddox do one of you want to play with Sphinx to get this working? If not I can do it this week.

[2014-09-02 17:33] Eric89GXL opened #195 "FIX: Cleanup docs"
Looks like we should be using single-backticks for function/module/variable/class names:

https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt#id13

We should probably also add `See Also` sections to our code, and get those working. Would be good to do next time someone is bored or feels like revamping the docs.

[2014-09-07 09:02] drammock opened #197 "FIX: zenodo DOI metadata"
When I use our DOI to pull in a reference to `expyfun` in Zotero, I get a journal article entitiled "second release".  That is also what everyone else will get if they try to cite us. I am unable to edit this on the Zenode website, since it's attached to @Eric89GXL 's account.  I think ideally it should say "expyfun: Experimental paradigm functions" and, if possible, include a version number field

[2014-09-09 04:18] #197 closed, assigned to larsoner

[2014-10-08 00:14] fishm3 opened #203 "Pulse audio driver issue with Pyglet"
@Eric89GXL @kambysese am trying to run `simple_experiment` in expyfun on Melanie's machine (64bit Ubuntu 12.04), which already has the Pulse audio & 32bit libraries installed. Pyglet is throwing an ImportError concerning the pulse audio driver. Have you encountered this before?

Here is the traceback:
Traceback (most recent call last):
  File "/home/fishm3/python/expyfun/examples/simple_experiment

[2014-10-08 21:57] #151 closed, assigned to akclee

[2014-10-14 17:55] #203 closed, assigned to nobody

[2014-10-14 22:18] larsoner opened #206 "FIX: Move `read_tab`"
`read_tab` should probably go in `expyfun.io` instead of `expyfun.analyze`. Thoughts? If so, we can either move it (@drammock I think you're the only one has used it) or we could properly deprecate access to it from `expyfun.analyze`.

[2014-10-15 21:48] #206 closed, assigned to nobody

[2014-10-20 18:48] Eric89GXL opened #210 "BUG: `read_hdf5` is slow"
Should be fixed for @rkmaddox's experiment ideally. I might have time to look into it this week. @rkmaddox can you throw the offending file up on lester and send me a link?

[2014-10-20 18:50] larsoner opened #211 "BUG: Loading images is slow"
@jyeatman can you come up with a minimal code example and post it here?

[2014-11-04 17:39] #211 closed, assigned to nobody

[2014-12-09 09:49] drammock opened #222 "screen_text doesn't show if called immediately after initiallizing ExperimentController"
here's an MWE:

[code]

[2014-12-10 06:52] #222 closed, assigned to nobody

[2014-12-12 02:00] drammock opened #223 "move tests for visual module into visual/tests"
currently all the visual module tests are in `test_experiment_controller.py` (near the end of the file).

[2015-04-27 17:59] Eric89GXL opened #230 "`git bisect` docs"
We should add a section in `git_flow.rst` on `git bisect` on how to find errors, see:

http://webchick.net/node/99

@drammock @lkishline @deanp3 do one of you have time for it? Basically we could just adapt that step-by-step description from the website (and give credit). I think it should go in the developers section of our doc.

[2015-04-27 18:12] lkishline commented on #230
Sure. Thursday and Friday I would have time to do this if no one else can.

On Monday, April 27, 2015, Eric Larson <notifications@github.com> wrote:

--
Lindsey Kishline
Graduate Student
Laboratory for Auditory Brain Sciences & Neuroengineering
ILABS
Department of Speech and Hearing Sciences
Tel: 206-616-0102

[2015-04-27 18:12] Eric89GXL commented on #230
Assigned to you, thanks @lkishline

[2015-05-04 17:41] lkishline commented on #230
Just found an email about this. Completely forgot about it last Thursday, apologies. I have blocked off a 2 hour chunk of time for it tomorrow morning.

[2015-05-05 19:07] lkishline commented on #230
Welp. I've done something...what I did, I am not completely sure.
I am not sure if I did the pull request thing correctly. Was just trying to show you a working draft to get some comments on what I need to add or change...

[2015-05-05 19:28] Eric89GXL commented on #230
Opening a PR is the best way to get feedback. It doesn't look like you opened one, though. It would show up here:

https://github.com/LABSN/expyfun/pulls

You could try following this to get it working:

https://github.com/LABSN/expyfun/blob/master/git_flow.rst#developers

Save your modified version of your file somewhere else just to safe in case you overwrite it.

[2015-05-05 19:47] lkishline commented on #230
Yes, I did follow the instructions on the git_flow page. I think the issue is that it used the 'fix_branch' from the one we did the 'stupid_pyglet' thing on. I'll try and redo it.

[2015-05-05 19:48] Eric89GXL commented on #230
Yeah usually you want to create a new branch based off `upstream/master` for each new PR

[2015-05-05 19:49] Eric89GXL commented on #230
...feel free to update `git_flow.rst` to make that clearer once it makes sense to you

[2015-05-05 20:14] lkishline commented on #230
Well, I gotta run to MEG now but I tried it again and accidently sent it to my fork...I will get this right eventually....

[2015-05-14 22:30] mirbagheri opened #233 "BUG: python3 compatibility"
File "C:\Anaconda3\lib\site-packages\expyfun-2.0.0.dev0_unknown-py3.4.egg\expyfun\_experiment_controller.py", line 1633, in _get_items
    for key, val in d.iteritems():
AttributeError: 'dict' object has no attribute 'iteritems'

The method iteritems has changed to iter in python3.

[2015-05-14 22:33] Eric89GXL commented on #233
Can you open a PR to fix it?

[2015-05-15 05:13] Eric89GXL commented on #158
@deanp3 still interested in doing this? If not I think I saw @lkishline had one on the wall.

[2015-05-15 05:15] Eric89GXL commented on #183
@rkmaddox WDYT about just allowing more than one keyboard controller to be used, and keyboard polling functions check all devices? That greatly simplifies the code (I think), and gives the experimenter flexibility about what to call a different type of event. For example, in the booth the TDT button presses 1-8 could mean one thing, and "p" could be used by the experimenter to pause. Eventually we

[2015-05-15 05:16] Eric89GXL commented on #191
@drammock any time over there to come back to this? Maybe we can just try to hit the major points since the last release, do a release, and then be more vigilant about it going forward?

[2015-05-15 05:17] Eric89GXL commented on #210
This was fixed in #212, I forgot to add the `closes` tag to that PR

[2015-05-15 05:17] #210 closed

[2015-05-15 21:20] lkishline commented on #158
@deanp3 if you want, I can do this tomorrow. I have a bunch of cheat sheets all over the place that I can put together.
Maybe we could also have a cheat sheet for things like WDYT(what do you think?) and SGTM (sounds good to me?)...bunch of EAU's (elitist acronym users). ;)

[2015-05-15 21:26] deanp3 commented on #158
I am pretty out of the loop, I don't think I would be good for this.
Dean

[2015-05-15 21:26] Eric89GXL commented on #158
don't forget YAGNI, DRY, and LGTM

[2015-05-15 21:33] lkishline commented on #158
No problem, it is beneficial for me to do it at the moment. Feel free to pitch in if you want to though.
LGTM - looks good to me?
DRY - don't repeat yourself?
YAGNI - sounds like some kind of sushi...

[2015-05-15 21:36] Eric89GXL commented on #158
DRY (programming principle) and LGTM are correct
[YAGNI] (http://lmgtfy.com/?q=YAGNI&l=1)

[2015-05-16 09:53] drammock commented on #158
This cheat sheet might be the perfect opportunity to learn about tables in
markdown too. Just sayin'.
On May 16, 2015 5:36 AM, "Eric Larson" <notifications@github.com> wrote:

[2015-05-16 15:31] #191 closed

[2015-05-16 17:56] lkishline commented on #158
Mmmm markdown tables, sounds lovely. I will give it a go Dan.

[2015-05-17 05:56] #233 closed

[2015-05-18 16:35] rkmaddox commented on #183
I think that makes sense. Does that mean that 1-8 on the keyboard would also be hot? I don't see that as a major problem, I don't think.

[2015-05-18 16:35] Eric89GXL commented on #183
yeah, they would both work

[2015-05-18 16:36] Eric89GXL commented on #183
If that works for your use case, I can probably implement it fairly quickly

[2015-05-18 16:40] rkmaddox commented on #183
It should, thanks.

[2015-05-19 02:34] #195 closed

[2015-05-19 02:34] #223 closed

[2015-05-19 02:39] drammock commented on #183
@Eric89GXL could you include in that PR a little cardboard warning sign
next to MARLO's outside-the-booth keyboard?
On May 19, 2015 12:40 AM, "rkmaddox" <notifications@github.com> wrote:

[2015-05-19 03:08] Eric89GXL commented on #183
I'll let @rkmaddox add it as part of his protocol :) It will have to be enabled by any given experiment, the default (use button box only) will not change.

[2015-05-19 16:04] rkmaddox commented on #183
The ugly thing is that calls that are simply `wait_for_button_press` will
now need to specify buttons 1-8 in order to not have any bumped key on the
keyboard count. Since it is not the default to have both controllers
active, I think this is OK though.

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.wash

[2015-05-19 16:11] Eric89GXL commented on #183
Yeah, I think putting users of the fancy functionality through a bit more pain / explicitness in their code is an acceptable side effect :)

[2015-05-28 16:43] #230 closed

[2015-08-20 13:21] Eric89GXL opened #246 "Should use h5io"
Instead of our own internal version. Any volunteer? It needs to be added to `_externals`

[2015-08-27 01:58] drammock opened #248 "Should use mne/CUDA for resampling"

[2015-08-27 19:24] rkmaddox commented on #248
I'm not sure it should. It's a whole new dependency for one piece of functionality. We should at least confirm it's faster before we add the dependency.

[2015-08-27 20:04] Eric89GXL commented on #248
All hail the mighty CUDA:
[code]
Note this is a log-log plot:
![figure_1](https://cloud.githubusercontent.com/assets/2365790/9531674/3b163c50-4cd5-11e5-828c-c4059793878f.png)

[2015-08-27 21:58] rkmaddox commented on #248
Oh my. So: require mne-python, or copy it's resample code into our own library?

[2015-08-27 23:38] Eric89GXL commented on #248
I think requiring mne-python is okay, it's a pure python dependency anyway, even installable using `pip`.

[2015-08-28 00:42] rkmaddox commented on #248
K. I'll do it.

[2015-08-28 00:44] drammock commented on #248
thx for volunteering @rkmaddox

[2015-08-31 19:13] drammock commented on #248
closed by #249

[2015-08-31 19:13] #248 closed

[2015-08-31 22:12] rkmaddox commented on #248
Now that `expyfun` is using CUDA, resmampling of the CRM corpus went from 28 minutes to 1 minute. I am satisfied with that improvement.

[2015-09-09 02:49] #246 closed

[2015-09-10 22:45] rkmaddox opened #251 "FIX: about 4% of flips are happening late"
@lkishline and I are getting an AV experiment set up, which involves some carefully timed flashes. We are timing these flips such that there is a first flip when `start_stimulus` is called and all other flips use the `when` argument relative to that one. We have set it up such that the time we pass for `when` is equal to the initial flip time + a time corresponding to a whole number of frames - `0

[2015-09-10 22:46] rkmaddox commented on #251
I should add that all that's happening between flips is `draw()` commands.

[2015-09-11 02:19] Eric89GXL commented on #251
We should figure out where the problem is. I suspect the `draw` calls are taking too much time.

How many `draw` commands are you emitting between flips? Try commenting all of them out -- does it fix the timing? Comment out half, is it still reliably good? If so, then it means the drawing needs to be more efficient. There are some ways we can do that by being smarter about OpenGL. If that doesn't

[2015-09-11 02:29] rkmaddox commented on #251
Either one or two draws, never more (i guess three, since the fixation dot draw is actually two draws). @lkishline, tomorrow let's try commenting out everything but the flips and see if the timing improves.

[2015-09-11 02:49] lkishline commented on #251
Okay sounds good, I'll try it in the morning.

[2015-09-11 16:30] lkishline commented on #251
Alright - on the block I ran with all the draw calls commented out I still got 8 trials I would of had to toss (8 late flips, two were in the same trials). On the block I ran with half the draw calls commented out I got 9 trials that had late flips - two of them had a couple late frames.
A side note about the one that I commented out half of them on - @rkmaddox I got a wider range of time stamps.

[2015-09-11 16:31] lkishline commented on #251
Forgot to say I have 108 trials/block.

[2015-09-11 16:42] rkmaddox commented on #251
I don't think we need to worry about 15s and 32s, that still isn't a missed frame. Can you check to see that none of the frames came _early_?

[2015-09-11 16:47] lkishline commented on #251
None of them came early. All the ones I mentioned about came one or two frames late.

[2015-09-11 19:37] Eric89GXL commented on #251
Hmm. I wonder if there is some process on the computer that is interrupting things.

Another possibility is that the `wait_secs` [function] (https://github.com/LABSN/expyfun/blob/master/expyfun/_utils.py#L671) that is [called here] (https://github.com/LABSN/expyfun/blob/master/expyfun/_experiment_controller.py#L1590) could be factored out. We could try to make the `wait_until` function be more pre

[2015-09-11 20:08] rkmaddox commented on #251
In `timeit.py` I find this code:

[code]

How bad is `time.time` on windows, and could it be that's what it's using, since it is likely not `win32` for 64-bit Windows 7?

Either way, I am writing up a test script for `wait_until` and `wait_secs` to see how accurate they are on the various systems.

[2015-09-11 20:09] rkmaddox commented on #251
Ah, never mind. I just realized that `timeit.py` is a python built-in, not one of ours.

[2015-09-11 20:57] rkmaddox commented on #251
This gives pretty accurate timing on my linux machine: https://gist.github.com/rkmaddox/88e692527926325719a3.

Only about 1 in 1000 wait times is late by over a ms, and it is never later than 2 ms. I'll go run it on the behavioral rig before replacing its fan.

[2015-09-11 21:06] rkmaddox commented on #251
Timing on the windows computer was even better. NO delays longer than 1 ms. All but 4 of the 4000 tests happened within 0.2 ms of the target time. I'm actually a little suprised that both computers weren't more accurate, but the problem certainly doesn't seem to be with `wait_secs` nor by extension `wait_until`.

[2015-09-11 21:09] drammock commented on #251
@rkmaddox's gist gives me similar results on my machine (biggest delay around 1.3 ms, only about half a dozen points appreciably off the x axis). In contrast, my tests with `flip()` this morning (including `ec.estimate_screen_fs`) are showing frame rates of around 30 Hz, even though `xrandr` and `glxgears` are both showing 60 Hz.  Probably unrelated?

[2015-09-11 21:20] rkmaddox commented on #251
Unrelated. That's a weird thing with most linux desktop managers and `expyfun` not playing nice.

I just tried setting the process to high priority instead of normal and running Lindsey's code again. Still 7 missed frames, which is within the noise (no improvement).

[2015-09-11 21:27] rkmaddox commented on #251
Running it at high priority with all the `draw()` commands commented out yielded no missed frames. Not sure if high priority was what did it, but it appears that the problem is in the drawing methods, and these can sometimes take too long, sometimes by even more than a frame.

[2015-09-11 21:34] rkmaddox commented on #251
Just ran on normal priority, all `draw`s removed. No missed frames. So problem is definitely with `draw` method.

[2015-09-11 21:40] drammock commented on #251
sigh...  pyglet strikes again.

[2015-09-11 21:40] lkishline commented on #251
Sorry guys, I guess I did not actually comment out all the draw commands this morning.

[2015-09-11 22:08] rkmaddox commented on #251
Oooooooookkkkkkkkkk something odd is happening.

Ran this [gist](https://gist.github.com/rkmaddox/2453d1a38bb246d10ea9) on my linux computer, testing the draw time for 1000 iterations. Almost all of them were 0.8 ms, but a special few were much longer, in the 4 to 10 ms range. What is so odd, is that it is deterministic which ones take too long...

For example, draw number 653 always takes around

[2015-09-11 22:18] rkmaddox commented on #251
The `draw` command imports `pyglet`. Is it possible this every now and then takes a long time to do?

[2015-09-11 22:21] rkmaddox commented on #251
Moving the `pyglet` import to the top of the `visual` module instead of being imported in the `draw` command does not change anything.

[2015-09-11 22:32] rkmaddox commented on #251
Running the test with `Rectangle` and `Triangle` gives the same results (as each other, not as with `circle`). This suggests that it is not the number of GL points / faces drawn that causes the problem.

[2015-09-11 22:42] lkishline commented on #251
When I run it on my Linux I don't see any pattern to the draw's that take longer than 5ms, other than most commonly it is the first one that is over 10ms (but not consistently).

That is probably not helpful.

[2015-09-11 22:47] drammock commented on #251
@rkmaddox and I have tried several different numbers of vertices by
manipulating `n_edges` in the call to `Circle` and are seeing many delays

number of vertices, and in many cases it's the same iterations that are
problematic whether `n_edges` is 5 or 6, for example.

On Fri, Sep 11, 2015 at 3:42 PM, Lindsey Kishline <notifications@github.com>
wrote:

[2015-09-11 22:51] rkmaddox commented on #251
@lkishline it's not unhelpful. Means that we really should check it out on the experimental computer specifically, since that is the platform on which we really need the timing to be perfect. It's especially odd, since my and Dan's computers behave very similarly.

[2015-09-11 23:14] lkishline commented on #251
Ran on experimental computer several times with 'n_edges' as 5 or 6 and flip() on, other than the first draw being really high (around 20ms) there isn't much to report. On one of the runs draw 89 was high but haven't seen anything since.

Of course with my track record today...maybe someone should verify...
I kept all the interpreters up this time so we can go back and check.

[2015-09-11 23:28] drammock commented on #251
[Another gist](https://gist.github.com/drammock/cafd0d9de9b129c49659) showing the effect of number of edges on the circle.

[2015-09-11 23:35] rkmaddox commented on #251
Whaaaaaaat. So a temporary fix might be upping the edges to 500? Weird.

[2015-09-11 23:40] drammock commented on #251
note the baseline shift though...  *every* draw takes ~2ms

[2015-09-11 23:50] rkmaddox commented on #251
Yeah, noted, but if it's reliable we can account for it. For this experiment we always have at least 16 ms to work with.

[2015-09-12 02:22] Eric89GXL commented on #251
Both booth computers should have 144 Hz monitors, so you'd have 7 ms between flips or 14 between two flips. Are you running the experiment on a laptop or something?

Adding more edges fixing the problem is bizarre, but if it works +1 for using it for this experiment. Let's keep this issue open, though, because I suspect there are ways we can make the drawing more efficient and thus speed it up. Dr

[2015-09-18 17:21] drammock opened #253 "ENH: more stringent version checking"
Propose adding a new, mandatory argument to `ExperimentController` called `expyfun_version` (or maybe just `version`?), that accepts a string (7-character GitHub commit hash) or `None`.  This argument would have no default, so users would be **required** to provide it, thus making the change non-backwards-compatible.  On init, the existing `expyfun.assert_version()` would be used to check the vers

[2015-09-18 17:23] Eric89GXL commented on #253
That's reasonable, but in order not to break argument order I'd just put it at the end with `version=''` by default. If `version=None` then don't check.

[2015-09-18 17:23] Eric89GXL commented on #253
(it's another way of requiring people to set it explicitly while breaking backward compat less)

[2015-09-18 17:27] rkmaddox commented on #253
That makes sense. Or even make the default string `'must_set'` or something.

[2015-09-18 17:35] #251 closed

[2015-10-15 22:01] drammock opened #256 "download_version not working in current master on Windows"
On MARLO, the following:

[code]

in git bash:
[code]

What am I doing wrong here?  download_version has worked before on MARLO, hasn't it?

[2015-10-15 22:21] drammock opened #257 "screen_prompt not working in current master"
on MARLO

[code]

result is that "foo" appears on screen for about the duration of 1 frame, then black screen for ~3 seconds, then "bar" for 3 seconds.  If the `ec.flip()` line is *not* commented out, `screen_prompt` behaves normally.  I think this issue came to light once before, but I don't remember the resolution (if there was one)...

[2015-10-15 22:48] Eric89GXL commented on #256
I thought so, but maybe I just always copied a version over there. I can try it on my Windows laptop to see if I can reproduce it.

[2015-10-15 22:49] Eric89GXL commented on #257
Stupid workaround, but we should just call `flip()` at the end of `__init__`. Can you see if that fixes it?

[2015-10-15 23:16] drammock commented on #257
yes, that fixes it.  I'm remembering now that last time this came up, someone was resistant to building in the `flip` into `init` but I don't recall why.  Should I roll this into my next PR then?

[2015-10-15 23:31] drammock commented on #256
problem here appears to be that `C:\Program Files (x86)\Git\bin` is not on the system path:

[code]

The reason why GitBash still works despite this is that the GitBash executable is in `C:\Program Files (x86)\Git`, so `bin` is `.\bin` in that case.

[2015-10-15 23:33] drammock commented on #256
Should I add `C:\Program Files (x86)\Git\bin` to the MARLO system path and forget about it?  Or should we try to do some clever things within the expyfun code to find it even if it's not on the path?

[2015-10-15 23:40] drammock commented on #256
I can confirm that adding `C:\Program Files (x86)\Git\bin` to the MARLO system path worked (after reboot).

[2015-10-16 00:36] Eric89GXL commented on #257
Yeah sure

[2015-10-16 12:51] Eric89GXL commented on #256
I guess that's good enough. Closing, feel free to reopen if you think we could do something more systematic (I don't think it would be easy). It *might* be possible that using `shell=True` in the underlying `subprocess` call would have worked, but it's not recommended to do that. So I prefer this solution.

[2015-10-16 12:51] #256 closed

[2015-10-16 14:12] drammock commented on #256
Maybe deserves mention in the docs somewhere, but I agree that trying to
hack this fix into _git.py is not worth the effort. Leaving closed.
On Oct 16, 2015 5:51 AM, "Eric Larson" <notifications@github.com> wrote:

[2015-10-16 14:12] #253 closed

[2015-10-16 14:12] #257 closed

[2015-10-16 20:01] drammock opened #259 "BUG: ec.set_background_color no longer accepts all color formats"
Recent GL-related changes to expyfun have partially broken the ability to set background colors. I've created [a gist](https://gist.github.com/drammock/1645b12fdf4edd9ccdb4) that illustrates the problem.

ec0b487 is last known good
937ac4e setting bgcolor works, but has other major issues
771f9f6 setting bgcolor works only for strings like `'k'` or `'red'`; values like `'0.5'` and `np.array([0.5,

[2015-10-27 22:50] #259 closed

[2016-01-27 18:51] rkmaddox opened #263 "ENH, FIX: Per-computer level calibration"
Currently the unity-RMS output level (in dB) is set based on the TDT in use (RP2 vs. RZ6). This implies that 1) all TDTs of the same model are consistent in their output levels (fair) 2) we are always using the same headphones and they are all perfectly calibrated to each other (less fair).

This came up because we need to change the calibration for the booth in 226, but we do not want to change i

[2016-01-27 19:16] Eric89GXL commented on #263
As long as we don't change any parameters that are currently used in `master`, and *new* parameters we add shouldn't affect behavior of old scripts. So really we can name the parameter whatever we think makes sense. I don't think `RMS_UNITY` is quite verbose enough to make it clear what it means.

[2016-01-27 19:18] rkmaddox commented on #263
OK, that's what I thought regarding adding new parameters. How about `DECIBELS_AT_UNITY_RMS`?

[2016-01-27 19:23] Eric89GXL commented on #263
`DB_AT_1K_UNIT_RMS`?

[2016-01-27 19:24] Eric89GXL commented on #263
`1KHZ`

[2016-01-27 21:25] rkmaddox commented on #263
Decided to go entirely liter: `DB_OF_SINE_AT_1KHZ_1RMS`

[2016-01-27 21:25] Eric89GXL commented on #263
Fine by me

[2016-01-27 21:25] Eric89GXL commented on #263
You up for making a PR?

[2016-01-27 21:26] rkmaddox commented on #263
Yep, already on it. Adding some other fixes as well.

[2016-01-27 21:27] rkmaddox commented on #263
I guess I should leave a default out of the file, since it would supersede the device specific setting? I would put it in there and comment it out, by I don't think JSON files have comments, do they?

[2016-01-27 21:28] Eric89GXL commented on #263
Which file are you leaving it out of? I'm not quite sure what you mean.

[2016-01-27 21:30] rkmaddox commented on #263
The initial `expyfun.json` file. The way I'm coding it, a constant in there will supersede the hard-coded (in `expyfun`) device setting.

[2016-01-27 21:30] rkmaddox commented on #263
(I can't think of any other way to code it, that is)

[2016-01-27 21:36] Eric89GXL commented on #263
You mean when the file is written for the first time on a given machine? You could just not write out the constant at all. Then the admin can be expected to manually do `set_config(...)` or edit the file by hand to put the correct value in.

[2016-01-27 21:36] rkmaddox commented on #263
Ohhh so that file doesn't get created on install? That would explain why I couldn't find a default file in the repo.

[2016-01-27 21:38] Eric89GXL commented on #263
I don't think it does. Only once `set_config(...)` is called.

Also if it's not too difficult it would be good to do the same things for `key=None` in `get_config` and `set_config` that mne-python does, it would facilitate this process later.

https://github.com/mne-tools/mne-python/blob/master/mne/utils.py#L1036
https://github.com/mne-tools/mne-python/blob/master/mne/utils.py#L1186

It would also

[2016-01-27 21:40] rkmaddox commented on #263
Sure, I can do that. So for `set_config`, make `None` give the list of options, and then add `get_config_path`?

[2016-01-27 21:43] Eric89GXL commented on #263
Don't worry about the `get_config_path`, that was a bit of an overkill for corner cases in mne-python we haven't hit here. Basically `set_config(None)` should return a tuple of all the settable keys, and `get_config(None)` should return all the key, value pairs that are set in the current `.json` file.

[2016-01-27 21:44] rkmaddox commented on #263
Ah, gotcha.

[2016-01-27 22:31] drammock commented on #263
This raises an issue with our new computer setup scripts too... I'll try to
remember to add a little set_config script to that repo so that initial
expyfun setup is easier and better documented there as well.
On Jan 27, 2016 1:44 PM, "rkmaddox" <notifications@github.com> wrote:

[2016-01-27 22:57] rkmaddox commented on #263
See #264 for fix.

[2016-02-19 22:30] drammock opened #267 "adding video support"
before I get too deep into coding this up, I want to solicit input about where to add the code and how to organize. My initial thinking is:

- a `Movie` class in [_visual.py](https://github.com/LABSN/expyfun/blob/master/expyfun/visual/_visual.py) with methods play, stop, get_volume, set_volume
- various public and private methods/properties added to `ExperimentController`, such as:
    - `ec.playe

[2016-02-20 17:30] Eric89GXL commented on #267
It makes things a little bit more verbose. Maybe nesting it one like `ec.video.play()` or something would work?

Yes I would for now just say they won't be played (and make sure Pyglet doesn't actually play them).

For a first pass I'd just say in the docstring that it's not supported. But if you want to disable flips, preferably with an error message, during playback that's fine, too. I have a fe

[2016-03-01 00:36] drammock opened #269 "can't easily remove on_every_flip functions"
I want to add an element to `ec.on_every_flip_functions`, then later remove it.  I don't think there's a good way to do that, since it's a `@property`.  In theory I can access private list `ec._on_every_flip`, search through it, and `pop` the appropriate element (which for the current use case is fine because I'm doing this within `_visual.py`).  That *would* work well if I called `functools.parti

[2016-03-01 02:57] Eric89GXL commented on #269
Let's get rid of the internal `partial` call, users can learn how to use it instead of us doing it for them.

Then you can just do `ec.on_every_flip_functions.pop(ec.on_every_flip_functions.index(my_fun))` right?

[2016-03-01 17:48] drammock commented on #269
I'm in favor of that option too, although isn't there an additional step of making `ec.on_every_flip_functions` read/write, in order to allow `.pop()` to work?  In which case do we want to do that, or instead add a method like `ec.remove_from_every_flip`?

[2016-03-01 18:22] Eric89GXL commented on #269
If it returns the list (without copying), lists are mutable so `.pop` will work

[2016-03-02 16:36] drammock commented on #269
FYI I have a local branch implementing this change already, but am waiting
until after the video PR is finished to push / PR.  it will necessitate a
small change in the video code, so I'm erring on the side of doing my
rebase locally before the second PR gets opened.

On Tue, Mar 1, 2016 at 10:22 AM, Eric Larson <notifications@github.com>
wrote:

[2016-03-02 23:28] rkmaddox opened #271 "Error on download_version"
We are trying to download a legacy version of `expyfun` but getting the following error:

[code]

When I do `pdb` I get that `git_version()` is `'Unknown'`. Any ideas?

[2016-03-02 23:51] rkmaddox commented on #271
@Eric89GXL please drop what you are doing and respond right away.

[2016-03-03 00:12] Eric89GXL commented on #271
Does the machine have git installed?

[2016-03-03 00:45] drammock commented on #271
yes it does. looks like the problem involves checking out a sufficiently old version of expyfun such that the `git_version()` function in `setup.py` (loaded from the temp directory just created) still returns a single value (`VERSION`) rather than a tuple `(VERSION, FORK)`, and then passes it to a newer version of the `download_version` function (which is expecting a tuple, not a string).

[2016-03-03 00:47] drammock commented on #271
importing `git_version` (and `setup_package`) from *current expyfun* instead of *downloaded version of expyfun* might fix it, except for the fact that `git_version` (being located in `setup.py`) is not a proper part of the package.

[2016-03-03 16:47] Eric89GXL commented on #271
It's annoying, but the easiest solution is probably just to do the `git` commands (and perhaps editing of `__init__.py` or a version file) yourself to get the correct version.

How old is the commit number you're going for? Did we have `download_version` back then?

[2016-03-03 16:49] Eric89GXL commented on #271
Looks like it did, from back in August '14:

https://github.com/LABSN/expyfun/blob/090948e35f20322a325b42f8b9098bd0fefaed71/expyfun/__init__.py

@rkmaddox do you plan to do this often? If so we should fix. If not, we should probably just do it manually for this or the couple of cases we need to.

[2016-03-03 16:55] rkmaddox commented on #271
Well, it's an older experiment that has an assert_version call in it. Seems
like download_version should work. I am quite disinclined to make people do
the git themselves, as that's a pretty big barrier for most (myself
included).

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.washington.edu/rkmaddox/

[2016-03-03 16:56] rkmaddox commented on #271
Seems like the solution is to make git_version a part of expyfun itself
(and not part of setup.py), and have setup.py call it from there. Is there
a problem with doing that?

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.washington.edu/rkmaddox/

On Thu, Mar 3, 2016 at 8:53 AM, Ross Maddox <rkmaddox@uw.

[2016-03-03 16:57] Eric89GXL commented on #271
Ahh, so you're thinking e.g. for publications we need to make it work properly?

IIRC there is a bit of a chicken-and-egg problem with getting `download_version` to work properly (even when opening PRs it's tough to get right). It's likely that old version never quite worked properly. Maybe migrating to using `expyfun.*` would work. Have time to give it a try? ha ha ha ha...

[2016-03-08 20:33] drammock opened #273 "test video / draw / audio sync"
TODO.  May involve adding `ec.flip_video()` as a separate method, and removing the `enable_video` kwarg.

[2016-03-09 00:08] rkmaddox opened #274 "Error using Cedrus box in 226"
Trying to use the Cedrus box in 226. `pyxid` was not installed, so that was installed in Git Bash using `pip install pyxid`. Then when instantiating `ExperimentController`, `response_device=cedrus` was specified. Got the following error:

[code]
`port` is an `int` with a value of 0, so there there was an error in `pyxid`'s exception handling `:-(`

Cedrus box is connected via USB. From looking at

[2016-03-09 00:09] Eric89GXL commented on #274
You might need to install from git source. I committed some fixes to their
repo and I'm not sure they've released since then.

[2016-03-09 00:20] rkmaddox commented on #274
Got it. Will try again. You'd think they would want to release the code
that someone fixed for them...

On Tue, Mar 8, 2016 at 4:09 PM, Eric Larson <notifications@github.com>
wrote:

[2016-03-09 15:15] #267 closed

[2016-03-09 15:15] #269 closed

[2016-03-15 21:05] rkmaddox commented on #274
Same error. Tried it again with newer version of `pyxid` (1.1 from git), installed thusly:

`pip install git+https://github.com/cedrus-opensource/pyxid.git --upgrade`

[2016-03-16 01:16] Eric89GXL commented on #274
Hmm... I wonder if it's a Python2 vs 3 or Windows vs Linux thing. I don't think I tested all combinations, and you might be in one that I didn't. It should be possible to fix their code if you're up for it, or you can wait a couple of weeks and I can do it.

[2016-03-16 03:44] rkmaddox commented on #274
Might just buy a TDT ButtonBox.

On Tue, Mar 15, 2016 at 6:16 PM, Eric Larson <notifications@github.com>
wrote:

[2016-03-16 04:01] Eric89GXL commented on #274
That's certainly an option

[2016-03-16 04:08] rkmaddox commented on #274
Eh, it's probably a simple fix. Have they been responsive at all? I can
post an issue on their github page.

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.washington.edu/rkmaddox/

On Tue, Mar 15, 2016 at 9:01 PM, Eric Larson <notifications@github.com>
wrote:

[2016-03-16 12:46] Eric89GXL commented on #274
They were responsive in the sense that they merged my PR. Not sure how
active they'd be in fixing it themselves, but it's worth a shot

[2016-03-16 16:12] rkmaddox commented on #274
OK. I'll go that route first since travel is ramping up again.

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.washington.edu/rkmaddox/

On Wed, Mar 16, 2016 at 5:46 AM, Eric Larson <notifications@github.com>
wrote:

[2016-03-22 01:30] drammock opened #277 "audio buffer load time vs video frame rate"
I'm hitting the issue that the time it takes to load a syllable-length audio stim (range from 150-750ms) into the TDT buffer (takes ~30ms) is longer than the video frame period (~23ms), so the video is dropping frames almost every single time a new stimulus is loaded.  I've tried everything I can think of that doesn't require altering the circuit:

- setting `ec.load_buffer` as a partialized `call

[2016-03-22 13:44] Eric89GXL commented on #277
You need the C routines I haven't written yet :( Then it will create zero lag for your experiment, assuming you don't need to continuously *poll* the keypresses (responses will be recorded with high fidelity, but requesting the values could be slow).

What's your timeline for the experiment?

[2016-03-22 13:45] drammock commented on #277
Timeline is we were supposed to start in February :(
On Mar 22, 2016 6:44 AM, "Eric Larson" <notifications@github.com> wrote:

[2016-03-22 13:46] Eric89GXL commented on #277
2017?

[2016-03-22 20:26] drammock commented on #277
for now, have found a workable solution using `subprocess.Popen` to run the video in a separate thread using VLC (which has handy command-line args to make it fullscreen and auto-close when finished).  Closing.

[2016-03-22 20:26] #277 closed

[2016-04-28 17:24] drammock opened #278 "ENH: make ec._playing more accurate via polling"
motivated by changes made in #266, the hard requirement to call `ec.stop()` in between subsequent calls to `ec.play()` (and the corresponding `ec._playing` property that kept track of this) has been called into question.  However, as @Eric89GXL notes:

[2016-04-28 18:31] Eric89GXL commented on #274
Fixed a few weeks ago

[2016-04-28 18:31] #274 closed

[2016-04-28 18:32] #263 closed

[2016-04-28 18:33] Eric89GXL commented on #263
Fixed by #264 but @rkmaddox hasn't absorbed the zen of "Closes #XXX" yet

[2016-04-28 18:33] Eric89GXL commented on #96
Not likely to happen

[2016-04-28 18:33] #96 closed

[2016-04-28 18:34] Eric89GXL commented on #175
Fixed by #180

[2016-04-28 18:34] #175 closed

[2016-04-28 18:36] Eric89GXL commented on #278
I think it's safest to leave `._playing` in place, and just make it actually poll. @drammock you okay with that?

[2016-04-28 18:41] Eric89GXL opened #279 "Behavioral and MEG sanity-check codeblock"
There are some things we should spend a couple of minutes testing in most experiments to save ourselves some pain. These can be optional by kwarg, but here are the ones I can think quickly:

* [ ] auditory left/right test: play tone in left, then in right, ask did it go left/right yes/no response
* [ ] visual left/right test: follow the dot (and it moves left/center/right/center 2x; up/center/down

[2016-04-28 18:42] Eric89GXL commented on #279
Chime in with ideas and I'll keep the issue up to date (and hopefully implement for `aud_att_int`)

[2016-04-28 18:48] rkmaddox commented on #279
Would prefer recordings of spoken "left," "right," and "center" for
auditory side test.

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.washington.edu/rkmaddox/

On Thu, Apr 28, 2016 at 11:42 AM, Eric Larson <notifications@github.com>
wrote:

[2016-04-28 18:54] Eric89GXL commented on #279
Then poll Yes/No if they actually came from left/center/right?

[2016-04-28 18:56] rkmaddox commented on #279
Yep.

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.washington.edu/rkmaddox/

On Thu, Apr 28, 2016 at 11:54 AM, Eric Larson <notifications@github.com>
wrote:

[2016-04-28 18:56] rkmaddox commented on #279
I am making those sounds now.

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.washington.edu/rkmaddox/

On Thu, Apr 28, 2016 at 11:46 AM, Ross Maddox <rkmaddox@uw.edu> wrote:

[2016-04-28 18:59] Eric89GXL commented on #279
Great, thanks. Any other checks you can think of that you've done before or might want going forward?

[2016-04-28 19:12] akclee commented on #279
Do we need an audio record check (at least get an acknowledgment somewhere that verbal response is being recorded) now that we have this for head/foot?

Thanks for implementing these things… it’s probably good to make it available for the MEG center as well...

Cheers
KC

======================================
Adrian KC Lee, ScD
Associate Professor
Department of Speech and Hearing Sciences
Institu

[2016-04-28 19:18] Eric89GXL commented on #279
Good call, I'll add something sensible for a verbal response check.

[2016-04-28 19:31] rkmaddox commented on #263
My B. I'll submit an issue that I am failing to close issues.

--
Ross Maddox, Ph.D.
Postdoctoral Fellow
Institute for Learning & Brain Sciences
University of Washington
phone: 206-685-4662
http://faculty.washington.edu/rkmaddox/

On Thu, Apr 28, 2016 at 11:33 AM, Eric Larson <notifications@github.com>
wrote:

[2016-04-28 19:32] Eric89GXL commented on #263
Just don't forget to put "Closes #XXX." by itself on a line so it auto-closes itself

[2016-04-28 19:58] drammock commented on #279
don't forget "blink three times"

[2016-04-28 20:25] Eric89GXL commented on #278
Removing requirement for `.stop` while leaving `._playing` in place is done in #266 now

[2016-04-28 21:58] drammock commented on #278
eliminating the requirement for `stop()` is enough to make me happy.  I'm neutral on the question of polling; if its impact is negligible I don't object. Renaming issue to reflect that.

[2016-06-24 23:24] #278 closed

[2016-06-24 23:29] drammock opened #282 "ENH: allow button-box input to TDT in RZ6 circuit"
Circuit changes were implemented in #266 (lots of discussion on that thread), but hardware issues with the buttons and switchbox made testing difficult at the time.  Needs testing / debugging / possibly more circuit changes.  cc @rkmaddox @mfreilly

[2016-07-25 23:31] mirbagheri opened #286 "set_background_color error on windows machine"
Running any function from visuals (set_background_color, FixationDot, etc) on windows results in the following error:

[code]
Updating pyglet didn't help. Any ideas?

[2016-07-26 00:06] Eric89GXL commented on #286
Can you try downgrading pyglet? @drammock ran tests a few days ago on
windows and they passed, so I suspect there is a regression in a dependency

[2016-07-26 00:49] drammock commented on #286
@Eric89GXL FYI this is happening on the laptop we use for task practice during MEG capping.  I'm suspecting an expyfun issue, not a pyglet one.  One notable irregularity was that the machine had no expyfun config file set up.  I'm trying now to see if I can reproduce on windows on my laptop.

[2016-07-26 01:32] drammock commented on #286
reproduced on my laptop:

[code]
[code]

[2016-07-26 01:45] drammock commented on #286
Not positive, but it looks like the `_get_log` function [here](https://github.com/LABSN/expyfun/blob/master/expyfun/visual/_visual.py#L166-L172) is expected to return `None` (or an empty string?) when there are no errors, but on my laptop and the training laptop, it is returning 'no errors'.  Creating PR now...

[2016-07-26 02:19] Eric89GXL commented on #286
That machine doesn't need a configuration file, the defaults should be
fine.

We never had that problem before, I wonder why it's happening now. Didn't
happen on Marlo, right?

In any case, I agree it should be fine to check for the no error message

[2016-07-27 02:01] #286 closed

[2016-10-25 15:18] rkmaddox opened #289 "Documentation title says "MNE""
If you go to the [documentation](http://labsn.github.io/expyfun/index.html), it says "MNE 2.0.0.dev0" instead of expyfun.

[2016-11-03 18:00] drammock commented on #289
hmm, if I follow that link it doesn't say "mne" anywhere...  @Eric89GXL did you secretly fix this already?

[2016-11-03 18:00] drammock commented on #289
oh... I see it, in the window title.

[2016-11-04 14:02] #289 closed

[2016-11-04 14:07] Eric89GXL commented on #289
All better, CircleCI pushed new docs after merge of #290

[2016-11-16 19:51] drammock commented on #282
At present, the switchbox passes presses to expyfun via USB, by presenting itself as a keyboard.
This proposed enhancement is possible as far as expyfun is concerned, by passing `response_device='tdt'` when `ExperimentController` is instantiated (or by changing the machine config file), and I'm assuming that the updated RZ6 circuit is configured to accept button presses (right @Eric89GXL?)  The bo

[2016-11-16 19:55] drammock commented on #158
@lkishline did you ever get started on this?  Is there a work-in-progress that someone else should work from?  @Eric89GXL WDYT about shoehorning this into a CONTRIBUTING.md file?

[2016-11-16 19:55] Eric89GXL commented on #158
That's fine with me

[2016-11-16 19:56] Eric89GXL commented on #282
I *think* that was the issue, yes.

[2016-11-16 19:59] lkishline commented on #158
Whoops, I remember doing this a while ago and then never did anything with
it. I will search for the file tonight or early tomorrow and give what I
have.

On Wed, Nov 16, 2016 at 11:55 AM Eric Larson <notifications@github.com>
wrote:

[2016-11-16 20:07] kambysese commented on #158
EAU is by far my favorite acronym of the bunch :+1:  also doubles for [European Assoc of Urology](https://www.acronymfinder.com/EAU.html)

[2016-11-16 20:12] mfreilly commented on #282
I have not tested it since the fix, I'll look at this today. I assume the output of the Elekta trigger box goes to TDT digital inputs. If so which ones?

[2016-11-16 20:43] Eric89GXL commented on #282
It probably needs to be connected to the first four ports of block A. If that doesn't work, try B. If that doesn't work, try the four ports of block C that are not connected as outputs to the TDT.

The output trigger lines are connected to the first four ports of block C, right?

[2016-11-16 21:03] mfreilly commented on #282
A is the output of the TDT to the Elekta trigger inputs. I'll try B and C. Nothing is connected to C now.

[2016-11-16 21:31] mfreilly commented on #282
Tried response_device='tdt' and patched the Trigger box outputs to TDT A, B, and C.
Ran keypress_demo.py, got 'no keys pressed'

[2016-11-16 23:20] drammock commented on #282
@mfreilly in the keypress demo script, did you edit it to specify `response_device='tdt'` when `ExperimentController` is instantiated?  If not, expyfun will default to `'keyboard`' based on NINTOK's config file, and wouldn't register the responses even if they were making it through to the TDT.

[2016-11-16 23:26] drammock commented on #282
@mfreilly never mind, I misread your comment.

[2016-11-17 01:51] Eric89GXL commented on #282
@drammock didn't we have it in a state where *some but not all* of the triggers came through? I wonder if we broke something.

@mfreilly did you make sure that the version of `expyfun` being imported/used is the one from latest `master`?

[2016-11-17 01:54] drammock commented on #282
prior to the switchbox upgrade, we did get it working such that button presses would register on the TDT sometimes, but not always.  It wasn't "some buttons and not others"... it seemed to depend on how long/hard you pressed the button.  For quick presses you would see LED flashes on the switchbox, but not on the TDT input indicator LEDs.

[2016-11-17 02:00] Eric89GXL commented on #282
Hmm... I suspect that the TDT indicator LEDs should come on almost regardless of what port they're plugged into (at least as long as they're in an input port). @mfreilly did you see any lights on the TDT come on when you pressed buttons? I assume you did see lights on the Elekta box?

[2016-11-17 16:16] mfreilly commented on #282
Will check things this morning

[2016-11-17 17:29] mfreilly commented on #271
TDT front panel Digital I/O LEDs 4 5 6 7 light when buttons pressed.
TDT input is A5 A6 A7 A8.
keypress_demo.py does not respond to press.
expyfun commit version: can't tell, is Git installed on Nintok? I don't see it.
But looks like Dan installed expyfun 11/15/16.

[2016-11-17 17:33] Eric89GXL commented on #271
Great, at least the hardware issue seems solved. LEDs on the TDT mean that it should be possible to get the data into the circuit. Now we just need to figure out the software end...

[2016-11-17 17:43] Eric89GXL commented on #282
From the other issue:

Within the circuit, port C0-3 are the only ones marked as "output", all other ports (all of A, B, and C4-7) are all marked as "input". @mfreilly I wonder if there is some mis-labeling or swapped cables.

Do any LED lights come on when you connect it to B ports?

[2016-11-17 17:46] Eric89GXL commented on #282
In the circuit there is even a comment "This will access only 4 bits of Port-C of the Digital IO." for the TTL line outputs. It seems like the correct configuration would be to have the first 4 ports of C outgoing to the Neuromag...

I wonder if the labels A/C are swapped. @mfreilly can you try with the button box plugged into the first four ports of B, and then of C? Do any lights come on? Any di

[2016-11-17 17:51] mfreilly commented on #282
Sorry, responded on wrong issue.
Buttons in B1 -B8, C1 - C8. No response

[2016-11-17 18:13] Eric89GXL commented on #282
To confirm what you mean by no response -- the script did not respond *and* there were no LEDs that came on the TDT, right?

I think this will require local debugging of the circuit unfortunately.

@mfreilly on the experimental computer, can you:

1. make a new folder, say "testing"
2. Copy the latest version of `expyfun` `master` in it, probably easiest to do `expyfun.download_version()` on some

[2016-11-17 18:18] mfreilly commented on #282
Correct: the script did not respond and there were no LEDs that came on the TDT
I'll do the setup

[2016-11-17 22:42] mfreilly commented on #282
keypad connected to B1 B2 B3 B4
Installed expyfun in /keypress_test
print(expyfun) result = <module 'expyfun' from 'expyfun\_init_.py'>
On  keypresses there is no visible change in the circuit.

[2016-11-17 23:29] Eric89GXL commented on #282
The print result was blank?

That was steps 1 through 4 essentially, right?

[2016-11-17 23:30] Eric89GXL commented on #282
Although the last line makes it sound like you also did through step8

[2016-11-18 00:26] mfreilly commented on #282
The print result is blank.

[2016-11-18 00:56] Eric89GXL commented on #282
You are doing it within the python interpreter? I'm not sure how it's
possible it is blank with no error or anything. Does print(1+1) give
anything?

[2016-11-18 17:22] mfreilly commented on #282
print(1+1) result = 2
Also on CTRL-C it stops with KeyboardInterrupt but there is no command line open in the console.

[2016-11-18 17:32] Eric89GXL commented on #282
Try doing

import expyfun
print(expyfun)

Maybe it wasn't imported by the script you are running and Spyder just hid
the error

On Nov 18, 2016 12:22, "mfreilly" <notifications@github.com> wrote:

[2016-11-18 17:44] mfreilly commented on #282
import expyfun
print(expyfun)
<module 'expyfun' from 'expyfun\__init__.pyc'>

Also:
import numpy
print(numpy)
<module 'numpy' from 'C:\WinPython-32bit-2.7.6.4\python-2.7.6\lib\site-packages\numpy\__init__.pyc'>

assert in keypress_tesst.py
assert_version('aaaaaaa')
AssertionError: Requested version aaaaaaa does not match current version 25b25ea
This is the commit in the test folder

[2016-11-18 19:29] Eric89GXL commented on #282
Okay, so we're at least on the latest `master`. Have you tried steps 5+ yet?

[2016-11-18 20:04] mfreilly commented on #282
Did steps 5 - 10. No changes seen in waitForButtonPress

[2016-11-18 20:18] Eric89GXL commented on #282
Hmmm.... how about this. First modify the components in waitForButtonPress -- instead of reading out on the rightmost part of the For each mask value (255, 65280, 16711680):

1. Add a Watch (Components->Common->Watch)
2. Hook up the input component (leftmost component) to the ParWatch by by double-clicking the output triangle of the 10110100-triangular component, and then clicking the input triang

[2016-11-18 20:19] Eric89GXL commented on #282
Actually to make it really easy you could just add three inputs (Componetns->Input/Output; WordIn) with the three different mask values, each hooked up to their own ParWatch. Then once that circuit is running, you only need to switch the cables to each location once!

[2016-11-18 20:38] mfreilly commented on #282
Progress, the new watch changes with inputs on C1 thru C8.
Not a pain, a good intro to circuits

[2016-11-18 20:45] Eric89GXL commented on #282
Excellent! @mfreilly let's iterate on Gitter so we don't slam GitHub notifications

https://gitter.im/LABSN/expyfun

[2016-11-22 00:09] Eric89GXL commented on #282
It looks like this works as long as all 8 buttons are connected to input B. The problem was that B5-8 being disconnected appeared as HIGH to the TDT, so it looked like all those buttons were permanently pressed (value 240 was constant).

[2016-11-22 00:09] #282 closed

[2016-12-09 19:58] drammock opened #293 "passing array to barplot err_bars yields futurewarning"
additionally the errbars don't appear to be rendering at all when passed as an array.

[2017-01-26 00:00] drammock opened #297 "simple_experiment broken"
tries to do `from stimuli.plot_generate_simple_stimuli import generate_stimuli` and fails, because `plot_generate_simple_stimuli.py` is not in the `stimuli` subfolder (it's in the root of `examples`).

[2017-01-26 00:04] drammock opened #298 "confusing file names among examples"
at some point, many of the example scripts had `plot_` prepended to their filenames.  I suspect this has something to do with building the docs automatically.  However, there's a serious downside in that it makes them all look like they are scripts designed to plot something.  Since the examples folder is really designed for new users to learn about how expyfun works, I think clear filenames (and

[2017-01-26 01:39] Eric89GXL commented on #298
[It is fixable](https://sphinx-gallery.readthedocs.io/en/latest/advanced_configuration.html#building-examples-matching-a-pattern), do you have time to make a PR?

[2017-01-26 01:57] drammock commented on #298
not this week, but probably next week I can make time.  I just looked through our examples folders, and **all** of the scripts say `plot_` except for `eyetracking_experiment.py`, `pupillometry_experiment.py`, and `version_checking.py` (all in the [`experiments`](https://github.com/LABSN/expyfun/tree/master/examples/experiments) subfolder).   Might be easier to do  add `_noplot` (or something simil

[2017-01-26 02:37] Eric89GXL commented on #298
Sure an effective exclude plus rename works for me, though If rather spend
too the have than relocate to different folders. You could even make the
regex contain the specific filenames to skip if you want. It's less DRY but
had the most readable naming structure

[2017-01-26 02:39] Eric89GXL commented on #298
I meant "I'd rather append to the name". Silly phone

If rather spend too the have

[2017-03-10 18:56] drammock opened #300 "more detailed example of trial_id / triggers / timing"
May take the form of a heavily-commented example experiment, or perhaps just a tutorial / notebook?

[2017-03-11 13:10] Eric89GXL commented on #300
+1, PR welcome

[2017-03-30 17:51] drammock opened #305 "dismantle __fork__ tracking in setup.py"
this was a slightly bad idea at the time, and is no longer necessary.

[2017-04-12 18:40] Eric89GXL commented on #158
I think this is outside our scope, hopefully someone else makes one

[2017-04-12 18:40] #158 closed

[2017-04-12 20:48] Eric89GXL commented on #271
@rkmaddox can we close this? Maybe YAGNI?

[2017-04-12 21:03] drammock commented on #271
@Eric89GXL this bug might actually go away once we've done away with `__FORK__`

[2017-04-12 21:52] #297 closed

[2017-04-13 03:23] drammock commented on #271
Indeed, in my local testing today I used the same commit that was giving you grief, and it works again now that download_version no longer returns a tuple of (hash, fork) and instead only returns the hash string.

On April 12, 2017 6:49:20 PM PDT, rkmaddox <notifications@github.com> wrote:

[2017-04-13 20:26] #271 closed

[2017-04-13 20:26] #305 closed

[2017-04-13 20:37] #298 closed

[2017-05-11 23:11] kambysese opened #309 "Controller version type error on older versions"
@drammock kwarg 'version' to `ExperimentController` returns with "...unexpected keyword argument" with older versions e.g. 'c8141cc' and '8511a4d'.

[2017-05-11 23:58] Eric89GXL commented on #309
Yes it was added at some point and does not exist on old versions. Why is
this a problem?

[2017-05-12 00:05] drammock commented on #309
@kambysese the version checking was added [2 years ago](https://github.com/LABSN/expyfun/commit/393e9ae92f63f1afd0e8c61d3187468fadaef3dc).  Why do you want/need versions of expyfun older than that?

[2017-05-17 17:05] kambysese commented on #309
@drammock no particular reason. Those are just the versions I froze at.

[2017-05-17 17:05] #309 closed

[2017-06-26 15:27] maddycapp27 opened #317 "FIX: Eyelink origin discrepancy"
After setting up the eyelink I noticed that there was a discrepancy between coordinate systems.

`el.get_eye_position()` returns location in pixels with the center of the screen being `[0, 0]`. The eyelink itself claims to output a location where the top left is `[0, 0]` (but it seems more like it's using the bottom left). `ec._convert_units()`, however, assumes that the pixel locations use the bo

[2017-06-26 15:43] Eric89GXL commented on #317
This is strange. Does this example work properly on your computer with the Eyelink?

https://github.com/LABSN/expyfun/blob/master/examples/experiments/eyetracking_experiment_.py

[2017-06-26 15:43] maddycapp27 commented on #317
@Eric89GXL @drammock @rkmaddox

I wonder if this is happening because of using a different version of the eyelink.

Also I'm not familiar with how issues work, do I have to be assigned (by someone with permissions to do so) before I can do stuff?

[2017-06-26 15:44] maddycapp27 commented on #317
@Eric89GXL I was using that example and it only started working when I added in [960, 540] to the eye position to get everything to agree

[2017-06-26 15:47] Eric89GXL commented on #317
No you can open PRs whenever you want. The assigning and such is just helpful if we want to use it (but usually don't need to for a repo this size).

Yes it's possible. Which version of pylink (or whatever they call it) are you using, and which Eyelink? I thought I tested that example on our system, but maybe I didn't.

In any case, it's worth making a PR to fix the calculation for your system. Th

[2017-06-27 00:20] drammock commented on #317
This is indeed surprising. Since I'm gone for 2 weeks, maybe we can get @lkishline or @shbaum to test now just to confirm it works as-is?

[2017-07-13 18:34] #317 closed

[2017-07-13 19:28] drammock commented on #317
@Eric89GXL @maddycapp27 what ever happened with this?

[2017-07-13 19:31] Eric89GXL commented on #317
Fixed in https://github.com/LABSN/expyfun/pull/318

[2017-07-13 19:44] drammock commented on #317
huh.  somehow I missed that whole thread.  Maybe I accidentally muted it.

[2017-07-13 19:51] Eric89GXL commented on #317
Did you get notified about #320? If not, maybe you aren't being notified about PRs anymore

[2017-07-13 20:01] drammock commented on #317
yes I did.  I think I must have muted or archived the #318 thread through my inbox without ever reading it (i.e., user error, not a change in GitHub's behavior toward me).

[2017-09-01 16:32] larsoner opened #326 "BUG: TrackerDealer logging insufficient"
The TrackerDealer gets initialized with a `rand` argument, but this isn't anywhere in the `dealer_%i_init` line, so it can't actually be reconstructed. @rkmaddox this is a bug, right?

[2017-09-01 16:35] larsoner opened #327 "BUG: Can't reconstruct with `reconstruct_tracker`"
I have a paradigm with `TrackerDealer` having two `TrackerUD` instances, and when I try to use `reconstruct_tracker` I get this error:
[code]
@maddycapp27 is this use case intended to be supported by `reconstruct_tracker`, and if so, this is a bug, right?

[2017-09-01 17:04] maddycapp27 commented on #327
I have a few thoughts. Since we recently changed trackers to stop at n trials (or reversals) rather than n + 1 trials (or reversals) I could see this being an issue for data collected before the fix and reconstructed after the fix. My other thought is that if you're using a ``TrackerDealer`` you may want to run ``reconstruct_dealer`` instead -- there's no reason that ``reconstruct_tracker`` wouldn

[2017-09-01 17:49] rkmaddox commented on #327
Ahhh, yeah the reconstruction code will need to be updated to reflect the additional arguments.

[2017-09-01 17:49] rkmaddox commented on #327
And the new arguments will need to be written to the `init` parts of the expyfun log.

[2017-09-01 17:51] larsoner commented on #327
I'm pretty sure the code was run after the fix.

Same error.

Which arguments? Do you mean the new arguments / new stopping behavior? If so I'm not sure why it wasn't caught by some test.

[2017-09-01 17:52] larsoner commented on #327
I just used the default for `repeat_limit`, though

[2017-09-01 17:54] rkmaddox commented on #326
No, because of the way it works. Because of the randomness aspect, we opted to have `reconstruct_dealer` work by setting the private variables directly, rather than go through and rebuild it trial-by-trial like we did with `reconstruct_tracker`. Sound right, @maddycapp27?

[2017-09-01 17:54] larsoner commented on #326
Ahh okay, makes sense.

[2017-09-01 17:54] #326 closed

[2017-09-01 17:59] maddycapp27 commented on #327
Hmm if you ran the original trackers after we changing the stopping criteria for the trackers then the length of the responses wouldn't be the source of the issue...

The new arguments shouldn't be an issue. It just makes a dict from the log file to fill in kwargs.

[2017-09-01 17:59] rkmaddox commented on #327
The default `repeat_limit` is a change in behavior from how it used to work (it now counts them as reversals).

The tests didn't hit the limit.

[2017-09-01 18:03] larsoner commented on #327
But the code in both places (during original run, during reconstruction) just uses the defaults as @maddycapp27 says, right? So I'm not sure where the change of behavior should become a problem.

[2017-09-01 18:09] rkmaddox commented on #327
Ohhhhhh. Right. So your code used the new `reversal_limit` behavior. And the reconstruction code also does. That is trickier. Is it stopping one trial/reversal short? Wonder if it's something with the reversal counting that we changed.

[2017-09-01 18:15] rkmaddox commented on #327
Can you send the data files our way?

[2017-09-01 21:25] maddycapp27 commented on #327
@larsoner looks like your tracks have 11 reversals when ``stop_reversals`` is 10. The code is hitting the error when you get to 10 reversals as well. We've been doing ``stop_trials`` instead of ``stop_reversals`` so I'll have to run a test track to see if that's a consistent bug and if so how to fix it.

@rkmaddox you are right about the logging in ``TrackerUD`` being incomplete though--I do need

[2017-09-01 21:35] larsoner commented on #327
I'll ask folks to double-check the version asserted in the experimental file (I don't have access to it ATM) but it should have been version `'1cee0b2'` which was the merge commit for #323. But if it's hitting the error even with 10 trials, then there must be at least some bug to fix in the meantime.

[2017-09-01 21:35] larsoner commented on #327
... I'm also going to open a PR to record the `expyfun` version used to run the experiment, I can't believe we don't already do it!

[2017-09-02 12:21] maddycapp27 commented on #327
It's hitting the error right after 10 reversals. When I generated the plot it looked like it should with the behavior from [#323](https://github.com/LABSN/expyfun/pull/323).

[2017-09-03 23:10] larsoner commented on #327
So is there some bug to be fixed, or do you think it's likely that we ran with an older version (we still need to check...)?

[2017-09-04 14:57] maddycapp27 commented on #327
I'm guessing that the version issue is significantly more likely. If you confirm that that is not the case I'm more than happy to go bug hunting though.

[2017-09-05 20:51] larsoner commented on #327
Oops, error at our end. We ran on `d27b7c8`. Really sorry to waste your time :(

[2017-09-05 20:57] maddycapp27 commented on #327
It's alright! Glad it turned out to not be a bug :)

[2017-09-08 14:40] maddycapp27 opened #330 "Adding a check for calibration to check_force_quit?"
@rkmaddox and I are working on an experiment and would like to be able to re-calibrate the eye tracker at any time. One thought is to add functionality to ``check_force_quit`` that will check to see if a "calibration key" is pressed. This doesn't make an abundance of sense semantically, but may be easier/more efficient than writing a new function.

@larsoner @drammock I'd love to hear your thought

[2017-09-08 16:47] drammock commented on #330
so you want to be able to interrupt a block and re-calibrate before the next trial, and then resume where you left off?  To do this it makes sense to me to tie into the extant `check_force_quit` mechanism...  if I were being a stickler I'd say that if we do this we should change its name to `check_interrupt_keys` or `check_for_interrupts` or something similar.

[2017-09-08 16:49] maddycapp27 commented on #330
Right, that's the idea

[2017-09-08 16:50] rkmaddox commented on #330
@drammock That was exactly our inclination, though weren't sure how you guys would feel about renaming. Changing the name of the function could be a hassle, but not insurmountable.

[2017-09-08 16:52] drammock commented on #330
a `git grep` showed around 10 occurrences or less, so I don't think it will be that onerous.  Let's see what @larsoner has to say

[2017-09-08 16:55] rkmaddox commented on #330
Input could be something like dict(quit=['lctrl', 'rctrl'], calibrate=['home'], other_unforeseen_functionality=...)

Might even be able to pass a function handle and a key, which would be really nice for forcing a break, e.g., and telling people to wake up.

[2017-09-08 17:37] larsoner commented on #330
I have suspect `check_force_quit` will be used in more places than you'd want to use your calibration function. For example, it's probably done in every `wait_secs` loop, which would mean that it might get triggered mid-trial. Is this what you want, i.e. it to be (effectively) always active, and does something immediately when pressed?

If not -- and you instead want to e.g. check at the end of ea

[2017-09-11 12:54] maddycapp27 commented on #330
Yes, that would be ideal.

Sounds like changing the name of ``check_force_quit`` is ok with you all? If so I can start working on that.

[2017-09-11 13:21] larsoner commented on #330
Fine by me. You could even keep `check_force_quit` around (with same API) as a thin wrapper around whatever new, more generic function you create if you want.

[2017-09-11 15:47] maddycapp27 commented on #330
@rkmaddox had the idea of doing it a slightly different way. He proposed that for functions which use ``check_force_quit`` we could add a parameter to ask which functions to run. Then we could have default behavior be ``check_force_quit`` and allow for a ``check_interrupts`` function which would include calibration keys to be run in addition. This way we can continue to ``check_force_quit`` throug

[2017-09-11 19:00] larsoner commented on #330
I can't quite see it, can you give the desired API usecase(s)?

[2017-09-11 19:24] larsoner commented on #327
Okay we collected more data, this time with version '79e05c6' (current `master` as of today). On all three subjects when doing `reconstruct_dealer` I get `Tracker ######## has not stopped. All Trackers must be stopped.` Is this expected? If not, any interest in having a look at the `.tab` file to see what the problem is?

[2017-09-12 16:32] larsoner commented on #327
@maddycapp27 any ideas / time to look this week?

[2017-09-12 16:39] maddycapp27 commented on #327
Sorry, just looking at this right now. The ``TrackerUD`` must not be hitting line 301 where it prints out all the info???
That should happen at the end of ``td.respond()`` for the last trial. I didn't think that changing the stopping criteria in ``stop_here()`` would do that?? But that doesn't mean I didn't make a mistake there.
I'm happy to look at the tab file--it'll just be tomorrow before I'm

[2017-09-12 16:40] larsoner commented on #327
Yeah that's fine, will email a couple of failing files.

[2017-09-12 17:24] maddycapp27 commented on #330
So an example would be that ``wait_one_press`` currently runs ``check_force_quit`` via ``_correct_presses``. We would change this to have options to either keep the existing behavior or add other checking functions by passing an argument into ``wait_one_press``. Default for the new argument (called ``interrupts`` for the sake of argument) would be ``interrupts=check_force_quit`` but could allow fo

[2017-09-12 19:19] drammock commented on #330
it seems like the maximally flexible approach would be something similar to our `call_on_next_flip` functions: `interrupt_keys` would be a dict of keys that get checked, and each key would have a value that is a function to execute if it gets detected.  Of course that requires more substantial code rewriting.

A less flexible approach involving minimal changes is to say that currently we have 2 us

[2017-09-14 21:01] mfreilly opened #335 "identify_trial error"
expyfun does display grayscale images. Now when I loop through an image list I get:

Traceback (most recent call last):
  File "/Volumes/TimeMachineBackups/MEG_Data/expyfun_MEG_experiments/DevZ/DevZ.py", line 63, in <module>
    ec.identify_trial(ec_id='MFR', ttl_id=[0])
  File "/Users/mreilly2/anaconda/lib/python2.7/site-packages/expyfun-2.0.0.dev0+b796f5f-py2.7.egg/expyfun/_experiment_controller

[2017-09-14 21:07] larsoner commented on #335
The cycle is supposed to be `identify_trial` -> `start_stimulus` -> `trial_ok`, you are probably doing two `identify_trial` calls in a row which is not allowed (there should be a single one per trial)

[2017-09-14 21:17] mfreilly commented on #335
That's it, thanks.

On Thu, Sep 14, 2017 at 2:07 PM, Eric Larson <notifications@github.com>
wrote:

[2017-09-14 21:27] #335 closed

[2017-10-17 18:36] rkmaddox opened #337 "FIX: Is it possible to set the sampling rate?"
I need to run an experiment at 48828 instead of the normal 24414 Hz. I am going to go up to the lab and poke around, but I wanted to ask in case anyone knew: can we set the sampling rate from `expyfun`, or does it need a new circuit for that?

[2017-10-17 18:42] larsoner commented on #337
In principle you can control it in software, it gets set by the code initializing/running the circuit (not within the circuit itself). But in practice I'm not sure the extent to which we have hard-coded 24414. Hopefully not too much...?

[2017-10-17 18:43] rkmaddox commented on #337
Can you point me to that line? I wasn't sure, because in the RPCoX docs I found a `GetSFreq` function but not a `SetSFreq`.

[2017-10-17 18:45] larsoner commented on #337
I think we need to use `LoadCOFsf`

https://github.com/LABSN/tdtpy/blob/master/tdt/actxobjects/RPcoX.py#L176

[2017-10-17 18:46] larsoner commented on #337
And from some light googling, I think you want to pass `3`:

https://github.com/psexton/MockObject/blob/master/example/RealtimeProcessor.m#L65

[2017-10-17 18:47] rkmaddox commented on #337
Perfect, thank you. I will go give that a try.

[2017-10-17 21:10] rkmaddox commented on #337
It was easy to modify the code, and there were actually surprisingly few places where `24414` came up.

However, it doesn't work. When I tell it to do 24k sampling rate it works. When I tell it to do 12k sampling rate it works. But when I tell it to do 48k sampling rate, it does 24. However, it thinks it's doing 48, since `ec.fs` is 48k when I ask. I am thinking it is a hardware problem.

[2017-10-17 21:11] larsoner commented on #337
This might be the TDT "feature" that it silently falls back to a lower sampling rate if too many cycles are used at the requested sample rate

[2017-10-18 13:15] rkmaddox commented on #337
Interesting. That's a good thought. I will poke around in the circuit a bit and see what I can find out.

[2017-10-18 13:36] larsoner commented on #337
I'd load it up in the TDT circuit editor program, and try running it at 24414, look at the cycle usage (IIRC it's around 80%?) and then try running it at 48828, it will probably drop back down almost immediately

[2017-10-18 13:37] larsoner commented on #337
... we might need to make a simplified circuit -- if we cut out the button press stuff, for example, it might really help. Do you need well-timed button presses for this experiment?

[2017-10-18 13:38] rkmaddox commented on #337
I actually don't need button presses or noise for this experiment. I am going to try removing the noise generator first. Could be a simple flag in the `ec` init, since if noise is off at the beginning it is usually off for the whole experiment.

[2017-10-18 16:32] rkmaddox commented on #337
You were right. I made a light version of the circuit that removed the noise generator, and did a couple other efficiency things. It works now. I will use my hacked version for my pilot today and then make a PR later today.

I also noticed that the time returned by `ec.start_stimulus` does not account for the `TDT_DELAY` parameter, which is 2 ms on my system. Not a huge deal, but seems like it sho

[2017-10-18 16:40] larsoner commented on #337
:)

Agreed

[2017-12-02 02:00] larsoner opened #340 "FIX: Add example / doc for CRM timing"
cf https://github.com/LABSN/expyfun-data/pull/6

[2017-12-02 02:39] rkmaddox commented on #340
Self assigned for next week.

[2017-12-29 21:41] larsoner opened #343 "ENH: Support low-latency sound card output"
@rkmaddox not sure if you have looked into libraries. Here are some potential options I found:

Best possibilities (upon brief inspection):

- Python: [pyo](https://github.com/belangeo/pyo) is what Psychopy says provides the best performance ([docs](http://ajaxsoundstudio.com/pyodoc/index.html))
- Python: [simpleaudio](https://github.com/hamiltron/py-simple-audio/)
- Python: [python-sounddevice](h

[2017-12-30 04:30] drammock commented on #343
I tried to use pyo instead of pyglet back when we created expyfun, but couldn't get it to work at the time. Not sure if it was me or pyo that failed (or both) but would be great if it has progressed, it looked so much more promising than pyglet.

On December 29, 2017 1:41:59 PM PST, Eric Larson <notifications@github.com> wrote:

[2018-01-04 22:07] rkmaddox commented on #343
I have only looked a little into pyglet and it does not seem like it will do the job. In addition to callbacks, it also only allows one soundcard at a time, which is not ideal.

First impressions:
pyo looks great if it works.
simpleaudio requires py3k.
python-sounddevice looks like the simplest solution, but less powerful/flexible than pyo.

Didn't you also use RtAudio for your work with Cara? I r

[2018-01-04 22:08] rkmaddox commented on #343
Also, pyo has this which is pretty cool: http://radiopyo.acaia.ca/

[2018-01-04 22:28] drammock commented on #343
For an experiment run in the UW Phonetics lab, I've recently used `sounddevice` for *recording* audio, but not for playing out (I used expyfun/pyglet, because we didn't care about RT).  In case it's useful, the setup code is [here](https://github.com/drammock/gend-intel/blob/master/run-experiment.py#L47-L61) and the recording code is [here](https://github.com/drammock/gend-intel/blob/master/run-ex

[2018-01-08 19:48] rkmaddox commented on #343
If we have access to the hardware audio buffers themselves, we could even out the jitter to be near zero, couldn't we? After all, it's the latency variation, not the lag itself, that is our problem. This white paper explains it well: https://www.rme-audio.de/old/english/techinfo/lola_latec.htm.

But if we know what time it is and what time the next buffer will turn over, then we should be able to

[2018-01-08 20:05] rkmaddox commented on #343
See the very simple example for sound-device [here](http://python-sounddevice.readthedocs.io/en/0.3.10/#callback-streams). It looks like it should actually be pretty easy to fix the latency. I will give it a quick shot and post a gist if possible. This library was stupidly simple to install.

[2018-01-08 20:10] drammock commented on #343
not to send this off in yet another direction, but for possible future reference I just discovered a serious-looking real-time linux co-kernel called [xenomai](https://xenomai.org/)

[2018-01-08 20:23] rkmaddox commented on #343
Pretty cool. Unfortunately, official sound card drivers are pretty scant for fancy soundcards (notably RME, which I am for sure going with). If we can get the buffer stuff working reliably, then it ought to be all right. Will keep thread posted.

[2018-01-08 20:32] larsoner commented on #343
Yes but I always assumed it would be a PITA. If it's not, then we in principle don't even need the sound card to be particularly good to get zero(ish) latency because we can use standard size sound buffers instead of tiny ones. This would also reduce the risk of missing a buffer fill, which would be another added benefit.

Also, getting the buffer fill operations to occur *outside* of the Python k

[2018-01-08 20:34] larsoner commented on #343
While we're at it, we should just convert button presses to digital sound input bits, use a full duplex sound card, and get our input presses that way. They would be aligned to the sound output at the accuracy of the sound card's sample rate :)

[2018-01-08 20:52] rkmaddox commented on #343
I think the button press recording might not be that difficult. Not sure though. It would require dedicated hardware, though.

[2018-01-08 20:55] rkmaddox commented on #343
As for zero-prepending--it also might not be that difficult. Still could be though

[2018-01-08 21:02] rkmaddox commented on #343
So there is a callback function (which you define in python) that is called in a separate thread by a running audio stream object. So we at least don't have to worry about that aspect of it.

What happens in that thread would probably be faster in C than python, but if all it's doing is playing / storing audio it shouldn't be too taxing for the CPU.

[2018-01-08 21:27] larsoner commented on #343
That's good. With the GIL, the critical points then IIUC are:

1. When will the Python interpreter get around to executing the callback, and
2. How long will that callback occupy the interpreter (preventing other ops).

(1) becomes a non-issue with sufficiently large buffer sizes, and (2) I think can be mitigated by almost immediately delegating the buffer fill operation to a `nogil` C call. Actua

[2018-01-08 21:48] rkmaddox commented on #343
That seems like a good plan. The only downside is I may end up buying way more sound card than is necessary, since without knowing if we can handle the jitter thing, then I want to be sure I can get as small a buffer as possible. I am still trying to figure out which system to go with.

Re: 1, the boards should be ordered next week. However, Lenny has already tested this with their setup and the l

[2018-01-08 23:04] larsoner commented on #343
Actually you can probably test using onboard audio first. Some (maybe most
new?) audio cards have digital out.

[2018-01-09 22:06] rkmaddox commented on #343
Have been doing a bit more reading about the RME cards. Seems like they get down to 48-64 samples buffer. This is worst case 1.45 ms jitter (64 samples at 44.1 kHz sampling rate). We should at some point move a photoelectrode around a monitor to see what the timing difference between different parts of the screen are. I suspect it is more than 1.45 ms.

If that's the case, 1.45 ms jitter probably

[2018-01-09 22:11] rkmaddox commented on #343
And if there is an experiment where the timing between visual and auditory stimuli _really is_ that important, then we can use the soundcard (either the analog out, or the digital outs from the S/PDIF box) to drive LEDS.

[2018-01-09 22:15] drammock commented on #343
Besides onset latency, though, smaller buffer also means more likelihood of missed frames, right?  Or does that risk basically go away with these higher-end cards?

[2018-01-09 22:19] rkmaddox commented on #343
Yes, that's true. From what I read it seems like a normal computer can get you 48-64 samples buffer without missing frames (it depends on both card and PC load). As long as our python stuff doesn't totally suck, then it should be fine. There are people doing multitrack playing and recording with chains of effects plugins getting those latencies.

It's possible it would become a problem that we hav

[2018-01-10 23:02] rkmaddox commented on #343
So I just ran a test on the lab windows computer. Updated sync test to also use `sounddevice.play` to play a bipolar pulse.

Latency from TDT trigger to sound card audio was 148 +- 1.5 ms (ranged over about 3 ms). This is interesting because the block size was something like 4596 samples. The way I interpret this is that `sounddevice` is trying to make consistent latency.

The hackish code I was u

[2018-01-11 16:18] larsoner commented on #343
The other possible interpretation is that each time you do an `open` it takes roughly 148 ms to get a new stream to the sound card set up (i.e., the consistency might come from the driver), and then you immediately fill the first buffer when telling it to play...

... and if that is indeed the case, if you open *once* and do repeated plays using that instance, you should instead see the jitter spa

[2018-01-12 12:18] rkmaddox commented on #343
Very good point. I ordered the soundcard yesterday, and it can use a 48
sample buffer. So we should know more soon.

On Jan 11, 2018 11:18 AM, "Eric Larson" <notifications@github.com> wrote:

[2018-01-22 14:10] rkmaddox commented on #343
Sound card has been delivered, and work will begin in earnest after ARO in mid-Feb. Reading a bit more about `sounddevice`, I am convinced it will be the way to go. It is based on PortAudio, which is what psych toolbox uses to get their claimed very low latency audio. PortAudio also plays nice with ASIO, which gives by far the best latencies in Windows.

So, but much will happen in the next three

[2018-01-22 14:14] rkmaddox commented on #343
Also, putting this here for posterity: http://www.portaudio.com/docs/portaudio_sync_acmc2003.pdf

[2018-01-22 14:31] larsoner commented on #343
I had a recurring thought about using callbacks with tiny buffer sizes that might be problematic, it's problem (1) I listed above. Let's say that you could in theory have a buffer size of 1 sample. This means that the callback would need to execute within 23 microseconds (1./44100.), *every* 23 microseconds. This is doable in theory because it's a very small `memcpy`. But in practice, no *other* c

[2018-01-22 14:39] rkmaddox commented on #343
Yep, lots of unanswered questions that will only become clear once we try to get it to work I think. I don't think we _have_ to use callbacks with `sounddevice`--we just have that option.

[2018-01-22 14:45] larsoner commented on #343
The `play` wrapper is pure Python that wraps the `callback`-based API:

https://github.com/spatialaudio/python-sounddevice/blob/master/sounddevice.py#L95

So it should have the same problem.

[2018-01-22 14:50] rkmaddox commented on #343
Ah. I think I confused it with this project in progress, which is built on `sounddevice`: https://github.com/spatialaudio/python-rtmixer. They mention a non-blocking callback function. Would that solve the problem?

[2018-01-22 14:51] rkmaddox commented on #343
(That same project also mentions fixed latency playback)

[2018-01-22 14:56] larsoner commented on #343
Yes it sounds like they explicitly aim to fix the problem I'm talking about! Don't bother trying `sounddevice` directly, the existence of `python-rtmixer` confirms that `sounddevice` will have this problem, so I'd start with `python-rtmixer` instead.

[2018-01-22 15:15] rkmaddox commented on #343
Roger. Do you think it's OK to use `python-rtmixer` even though it's not mature? If we get it working, we should probably have `expyfun` download the specific working commit instead of the most recent to future-proof it. A change to the code that messed with the latency could destroy a study...

[2018-01-22 15:17] larsoner commented on #343
Hopefully we can install it on a system once and never change it (like we do with Pyglet). We can keep a record of what version or commit numbers we used at the time. That way we don't need to package it ourselves. Any time a new recording rig is set up we can try the latest one, hopefully it works, if it doesn't we either fix it upstream or `pip install` via commit number.

[2018-01-31 02:07] ktavabi opened #344 "Pyglet error"
So it's been a while I've deployed expyfun. The following gist based on this [example](http://labsn.github.io/expyfun/auto_examples/experiments/drawing_methods.html#sphx-glr-auto-examples-experiments-drawing-methods-py) throws a `pyglet.window` `AttributeError` that for some reason doesn't happen when I run the example script.

PS. is there a more straightforward way of drawing a fixation cross?

[2018-01-31 02:10] drammock commented on #344
We don't have a cross, [we have concentric dots](https://github.com/LABSN/expyfun/blob/873ee3d8f1c3c981dadf350037aa48b9529d4c09/expyfun/visual/_visual.py#L803-L828).

[2018-01-31 02:15] drammock commented on #344
When i run your script in a python 2 environment, I get no errors.  In py3 I get some pyglet depracation warnings, but no error.  What is `pyglet.version`?  (mine is `1.2.4`)

[2018-01-31 02:21] drammock commented on #344
(by the way, if you want the window to stay open long enough for you to see your fixation cross, you should add another `wait` statement to the end of your script.  Otherwise the window will close instantly as soon as the flip happens)

[2018-01-31 02:22] larsoner commented on #344
Did you install with `pip`? There is inexplicably some alpha version 1.4.0a1 on PyPi that I recall beincg broken. IIRC I've had to pin Pyglet to `1.2.4` or maybe `1.3.0` to avoid it, so if you installed via pip, try uninstalling and reinstalling `pyglet==1.2.4`.

[2018-01-31 02:30] drammock commented on #344
yet another comment:  I think you're specifying the line coords wrong.  They should be `[[x1, x2], [y1, y2]]`.  So this:

[code]

yields a fixation cross spanning 2 degrees visual angle in horiz. and vert. directions.

[2018-01-31 03:03] ktavabi commented on #344
@larsoner pyglet-1.3.0 via `pip`. Removing and installing `pyglet==1.2.4` resolved the error.
@drammock thanks for the tips, worked like a charm! I was doing `[[x1, y1], [x2, y2]]`

[2018-01-31 03:03] #344 closed

[2018-04-19 22:03] drammock opened #347 "bug in dprime_2afc"
apparently we borked the `dprime_2afc` function.  There's been discussion on slack as to whether we should try to fix it, or just scuttle it.

### What is wrong

1. computation of `dprime_2afc` takes number of "correct" and "incorrect" trials, and passes those to `dprime` as "hits" and "false alarms".  Why we did that is a bit of a mystery, but obviously it makes it impossible to compute hit *rate

[2018-04-20 02:43] rkmaddox commented on #347
Setting aside the `1/sqrt(2)` correction for now. I am strongly in favor of option 1 or 2. I don't think dprime_2afc *can* be fixed. The major disadvantage of option 3 is that to calculate hit rate and false alarm rate using hits, misses, false alarms, and correct rejections. You need to know all four of those to calculate it.

The first step of the `dprime` function is to calculate hit rate and f

[2018-04-20 02:44] rkmaddox commented on #347
@maddycapp27 , who had to witness me awkwardly stumble over how to calculate d' in a meeting today.

[2018-04-20 12:25] rkmaddox commented on #347
Ahhh OK that makes sense. So it really has to do with the number of observations. Technically a yes/no detection task is a 2AFC, it just isn't a 2I2AFC.

I like a default `False` argument that is called something like `two_int_comp`.

[2018-04-20 13:30] larsoner commented on #347
How about `two_interval=False`? A bit more readable.

And whoever implements this should probably document the relationship between the two with a `References` to this book and page.

[2018-04-26 18:08] larsoner opened #349 "BUG: CircleCI 1.0 is retiring"
... in August. So we need to migrate to 2.0. This *should* be pretty straightforward given that I've already done it for MNE-Python.

@drammock you can do it if you want to brush up on your CI skills, otherwise I'll do it.

[2018-04-27 18:36] drammock commented on #349
wow, you got on that quick.  Thanks!  In a perfect world I would have liked to brush up on CI skills, but realistically wouldn't have gotten to it for a few weeks at least.

[2018-05-04 01:42] #349 closed

[2018-06-04 15:22] cwenner2 opened #351 "Issue with AVbin"
I am trying to run some of the example code in expyfun, in particular simple_video.py, but each time I get the following error:

"Traceback (most recent call last):

  File "<'ipython-input-5-ab29d452275f'>", line 1, in <module>
    runfile('C:/Users/bella/Python/expyfun/examples/stimuli/simple_video.py', wdir='C:/Users/bella/Python/expyfun')

  File "C:\Users\bella\Anaconda2\lib\site-packages\spy

[2018-06-05 14:56] rkmaddox commented on #351
We have tried a bunch of things to no avail. The most important was changing to `pyglet==1.4.0a1`, which ditches `avbin` for `ffmpeg`.

Has anyone actually gotten this working in Windows? We might need to start from there. @cwenner2 and I aren't even getting the same errors...

[2018-06-05 15:19] rkmaddox commented on #351
@drammock you have successfully used this on Windows for your experiments, right?

[2018-06-05 15:30] larsoner commented on #351
Does `pytest expfun` work for you? If so, we have some testing deficiencies to sort out :(

[2018-06-05 15:31] larsoner commented on #351
(The CIs test Linux, macOS, and Windows so this should really be caught by a test)

[2018-06-05 15:41] larsoner commented on #351
I got the same error, then downloaded and executed:

https://github.com/downloads/AVbin/AVbin/AVbin10-win64.exe

And it worked.

[2018-06-05 15:41] larsoner commented on #351
[code]

[2018-06-05 15:44] larsoner commented on #351
We do have tests for video but they are protected by `requires_avbin` decorator. Should we make `avbin` a hard dependency (for tests to pass at least)?

[2018-06-05 15:56] drammock commented on #351
I have successfully used video playback for experiments on our Windows 7 system ("marlo").  We don't have any systems here running windows 10.

If we're going to add a hard dependency, it should be `ffmpeg` rather than `avbin`...  long story short: right around the time I developed the video playback code, the `ffmpeg` devs had a fight, `avbin` was born, and trumpeted itself as the actively mainta

[2018-06-05 15:57] larsoner commented on #351
@drammock can Pyglet < 1.4 use `ffmpeg`, though?

[2018-06-05 16:12] drammock commented on #351
I just spent ~10 minutes trying to figure that out from the pyglet source code, and still can't really tell `<insert rant about bitbucket's U.I. here>`.  I may have to create a VM just to figure that out.

[2018-06-05 16:18] drammock commented on #351
after a little more digging, it looks  like they switched to `ffmpeg` 2018 January 31.  Pyglet 1.3.2 was released in April, so in theory it should work with `ffmpeg`.  I'll try to make time to test that later today... I'll try to replicate @cwenner2's setup as closely as possible (py2.7, 32-bit), but I dunno if I can get my hands on Windows 10.

[2018-06-05 16:30] larsoner commented on #351
I have my VM up and can check pretty quickly, at least for Py3k.

BTW numpy will stop new features for 2.7 at the end of this year. Time to start migrating!

[2018-06-05 16:37] larsoner commented on #351
According to https://groups.google.com/forum/#!topic/pyglet-users/ah2I54BSrZg it's only 1.4.0a+. So let's do `avbin` for now.

[2018-06-05 17:16] larsoner commented on #351
@rkmaddox did you try this variant:

https://stackoverflow.com/questions/10302873/python-pyglet-avbin-how-to-install-avbin#answer-47249531

[2018-06-05 20:14] rkmaddox commented on #351
Just back from piloting an experiment. I will go back to `pyglet` version 1.3.2 and do your AVbin install. The strange thing is that `pyglet` is supposed to come with its own AVBin, and @cwenner2 had the dlls in the system folders. Will try that other link you just sent if it doesn't work.

[2018-06-05 20:24] larsoner commented on #351
It depends on which DLL you put it which system folder. You can see which go where in #352:

https://github.com/LABSN/expyfun/pull/352/files#diff-a44785b136b7e4dafbc1d36fd2cf0980R7

[2018-06-05 20:46] rkmaddox commented on #351
If I am reading that right---does it mean the 64 bit dll has to go in system32, and the 32 bit dll has to go in sysWOW64?

[2018-06-05 20:50] larsoner commented on #351
https://www.howtogeek.com/326509/whats-the-difference-between-the-system32-and-syswow64-folders-in-windows/

[2018-06-05 20:50] larsoner commented on #351
So yes :)

[2018-06-05 20:50] larsoner commented on #351
(Assuming you are running a 32/64 bit versions of *Python* on a 64-bit version of *Windows*)

[2018-06-05 20:53] rkmaddox commented on #351
Oh my god that is the most Windows thing that ever windowed.

I just put `avbin.dll` and `avbin64.dll` in both directories and it worked. I then removed the 32 from 32 and the 64 from 64 and it still worked.

I feel happy that it is working now, but *extremely* unsatisfied with what the problem was. Thanks for figuring this out.

[2018-06-05 20:55] larsoner commented on #351
In theory since you are using 32-bit Python (for TDT right?) then you can remove the 64-bit library from `system32`, too :)

[2018-06-05 20:58] drammock commented on #351
FWIW, I've heard reports that `avbin64.dll` simply doesn't work with pyglet, and that even on 64-bit systems with 64-bit python you have to use the 32-bit `avbin.dll`.  Just to make it a bit windowier (or pyglettier?)

[2018-06-05 20:59] drammock commented on #351
also +100 to @larsoner for debugging and fixing this so fast, even though I'm the one who wrote most of the video playback code :shame:

[2018-06-05 21:00] larsoner commented on #351
In my testing (and on AppVeyor) I used the `avbin64.dll` on 64-bit Python and it works. I think both are on 1.3.2

[2018-06-05 21:01] drammock commented on #351
good to know.  I did get partway to setting up a W10 VPN today, so when I
get that fully operational I'll try that out here too.

On Tue, Jun 5, 2018 at 2:00 PM, Eric Larson <notifications@github.com>
wrote:

[2018-06-05 21:02] larsoner commented on #351
... now if only one or both of you could convert some of that appreciation into code review: #352 :)

[2018-06-05 21:06] rkmaddox commented on #351
I am not sure I even know how to review a PR like this...

[2018-06-05 21:06] rkmaddox commented on #351
Correction: I am sure I don't.

[2018-06-06 18:37] #351 closed

[2018-06-27 16:43] sjjoo opened #356 "Incorrect frame rate"
My monitor has 60 Hz refresh rate, but ec.estimate_screen_fs() returns 30 Hz.

On Linux Mint 17.3

[2018-06-27 16:45] larsoner commented on #356
I seem to recall this being a problem a few years ago under Linux with some window managers. At the time, Xfce worked fine but Compiz-based WMs did not. Thus this comment:

https://github.com/LABSN/expyfun/blob/master/examples/sync/sync_test.py#L8

But I just tried `xfce` (Ubuntu 18.04, NVIDIA graphics) and still got 33 ms instead of 16.

[2018-06-27 16:45] larsoner commented on #356
@drammock can you replicate this problem, too?

[2018-06-27 16:53] drammock commented on #356
I think you can only get 16ms under pure xfce (not xubuntu, which puts
other stuff on top of xfce)?  I also get 33ms, but that's no surprise
because I run compiz.

On Wed, Jun 27, 2018 at 9:45 AM, Eric Larson <notifications@github.com>
wrote:

[2018-06-27 16:53] rkmaddox commented on #356
Yep, it has been an issue for a long time, but unless you are going to be running it on that computer I wouldn't worry about it.

Any visual stimulus code you write should depend the trial clock and not the frame number.

[2018-06-27 17:07] larsoner commented on #356
Does the text / justification in #357 make sense?

[2018-06-27 17:13] rkmaddox commented on #356
If the unsafe mode in #357 could lead to timing issues, then the experimenter needs to remember to change it back to safe for running on the experimental computer, which makes me nervous. I don't like the idea of having machine-dependent variables that need to be manually set.

Perhaps it should be a system-wide setting that defaults to safe if unspecified?

[2018-06-27 17:28] drammock commented on #356
I like @rkmaddox's idea of adding this to the machine-specific `expyfun.json` variables. To be consistent with past practice though, it should probably also still be an arg that can be passed when initializing `ExperimentController` (just as `window_size`, `screen_num`, etc)

[2018-06-27 19:12] larsoner commented on #356
Done

[2018-06-28 16:57] rkmaddox opened #358 "Many problems with video presentation"
So my labbies and I are having a heck of a time getting video to work. Here is a summary of the issues as I understand them, though they will fill in the rest.

0. AVBin will not play quicktime movies (we can deal with that, will just switch to x264)
1. AVBin freezes near (but not quite at) then end of our video (x264 encoded)
2. AVBin has strange image quality (Sara will post screen cap). To me i

[2018-06-28 16:59] rkmaddox commented on #358
This will also be essential to figure out in order to present video on the monitor with the corresponding audio from the TDT.

[2018-06-28 17:09] drammock commented on #358
For the record, I never got it satisfactorily working in my initial attempts, so I'm not surprised you're struggling.  I bailed when I realized I didn't actually need AV synchrony, and used a hacky solution of hiding the expyfun window and popping up a borderless full-screen VLC window to play the video.  That doesn't mean we can't get this to work, but it will probably require some additions to /

[2018-06-28 17:10] rkmaddox commented on #358
For the time sync, would [providing our own clock](http://pyglet.readthedocs.io/en/pyglet-1.3-maintenance/programming_guide/time.html#user-defined-clocks) with t=0 as the start time help?

[2018-06-28 17:10] rkmaddox commented on #358
@drammock Yeah, it is pretty much essential for us now. We have many upcoming experiments where playing natural videos is the only way to go, and they have to be time synced.

[2018-06-28 17:11] rkmaddox commented on #358
The sync itself should _not_ be difficult. It was essentially solved with 1v2a. What we need to be able to do is just use a pyglet video source as a container for a sequence of frames, pull the frames out one by one, and flip them at the time we deem correct.

[2018-06-28 17:30] sfiscell commented on #358
This is an image of the video quality:
![image uploaded from ios](https://user-images.githubusercontent.com/39736621/42050597-64c1eb52-7ad7-11e8-8e95-fa80c47b53f8.jpg)

[2018-06-28 17:41] rkmaddox commented on #358
Here is a very siomple example that reads in all the frames of a video using `opencv`:

[code]

Note that your RAM will die if you do a long video. There is no need in practice to store all the frames.

[2018-06-28 17:49] larsoner commented on #358
When you figure out how to do this with opencv, can you turn it into an example? Bonus points if you can find and use the original McGurk stimuli to do it with.

[2018-06-28 18:30] rkmaddox commented on #358
Are you saying we should use `opencv` to do it? We would still use pyglet to show the frames, but would load them using `opencv`.

[2018-06-28 18:56] larsoner commented on #358
Yeah that seems like a reasonable approach to me

[2018-06-28 19:14] drammock commented on #358
@sfiscell you probably already know this, but in case not: the video quality probably arises because (1) the chosen video codec only encodes pixels that changed from the previous frame, and (2) the expyfun flip operation clears all those non-changed pixels before displaying the new frame.  Results might be better with a video format like AVI, which encodes every pixel in every frame.  But if we wa

[2018-06-28 21:11] rkmaddox commented on #358
Here is a [gist](https://gist.github.com/rkmaddox/8b3ddd7979951a5225ab264d6c3118fa) that gives the idea of what I am thinking of.

***It should not be considered an example of how to do this.***

I need to figure out how to get the timing right and always stay one frame ahead and skip frames when necessary etc etc. But this should at least make Mark's head spin.

[2018-06-28 21:11] rkmaddox commented on #358
I plan to work more on this tomorrow to make it reasonable.

[2018-07-13 11:53] rkmaddox commented on #358
Update on this: OpenCV works great for loading the frames into numpy arrays.

however, getting these into pyglet RawImage objects (even if we try to write over the texture directly) takes much longer than a frame, so we cannot do it in real time. This leads to about 3 or 4 s worth of video loading before every trial, which really isn't workable.

Our current thought is perhaps pickling the texture

[2018-07-13 12:09] larsoner commented on #358
It needs to upload to the GPU, so no pickle. The slow part could be the
shader compilation not data upload. Did you try creating a single RawImage
and just updating the new data? That should be fast enough I hope

[2018-07-13 12:40] larsoner commented on #358
... although looking at the code, even `set_image` instantiates a new `Sprite`, which is probably not good.

What probably would be fast is using `ImageData` because it has a `set_data` method:

http://pyglet.readthedocs.io/en/pyglet-1.3-maintenance/modules/image/index.html

[2018-07-13 13:30] rkmaddox commented on #358
Have tried something along those lines, didn't seem to help. You know what's funny though? Despite being in the docs, there is no `set_data` method in the `AbstractImage` class in pyglet 1.3.2.

[2018-07-13 13:31] rkmaddox commented on #358
Hold on, I may be wrong on that. Will be back.

[2018-07-13 14:20] rkmaddox commented on #358
It seems like the `.to_string()` call is one of the very slow parts, yet it seems to be required by pyglet. The image data is already in `uint8` so it seems like changing that to string should be extraordinarily fast.

[2018-07-13 14:30] rkmaddox commented on #358
To elaborate, you are right that using `set_data` is very fast, but now the tricky part is getting it into a texture so that it can be drawn.

[2018-07-14 15:03] rkmaddox commented on #358
Putting this here in case it helps: https://github.com/motmot/pygarrayimage. Reference in this stack overflow post: https://stackoverflow.com/questions/31030000/capture-webcam-image-using-cv2-and-pyglet-in-python.

[2018-12-18 14:59] rkmaddox opened #363 "DIS: Use scipy.io.savemat rather than expyfun.io.write_hdf5?"
So MATLAB's .mat files are now basically hdf5 files, which are easy to read and write in both python and MATLAB. I have hit the situation where I generally use `expyfun`'s hdf5 format because it works and it's easy for me. But I have also now hit the situation where I want to share data with people, and my options are tell them to install `expyfun` or load the data and save to .mat file.

Is there

[2018-12-18 15:16] rkmaddox commented on #363
Actually I just noticed this in the 3.0.0 changelog:

Does that mean I can just tell people to install that much smaller module? That is certainly better than making people install the whole of `expyfun` just to get at the data. I still do wonder what it offers over MATLAB though.

[2018-12-18 15:48] larsoner commented on #363
Yes you can tell them to install h5io. Or MATLAB does have native H5 reading functionality. Try loading one of the h5io files in MATLAB yourself, hopefully you'll see it's easy enough to get to the numerical data.

The advantage of h5io is that it very easily reads and writes in built-in Python types plus some common numerical ones. You can write out a tuple of list of dict of numpy array and scip

[2018-12-18 15:51] rkmaddox commented on #363
I figured this was the answer. I did not realize that those files could be read into MATLAB! That is huge, thanks.

Closes #363.

[2018-12-18 15:57] larsoner commented on #363
IIRC I tried and was able to read them at one point, but it was a while ago so I could be wrong. Make sure you try locally before suggesting to others it is possible :)

[2018-12-18 15:57] #363 closed

[2018-12-18 15:58] larsoner commented on #363
(I would have tested myself before posting the suggestion, but my MATLAB license apparently has lapsed so I'll leave it to you)

[2019-03-17 23:50] #356 closed

[2019-04-03 21:46] drammock commented on #343
hey @rkmaddox, what ever happened with your testing of the RME card?  Next week I'll be attempting to get expyfun up and running on a new lab system that uses a [lynx e44](https://www.lynxstudio.com/products/e44/) sound card.  Pyglet will likely be good enough for some of the experiments they do, but others will need better timing, so hence I'm resurrecting this thread.

[2019-04-03 22:45] larsoner commented on #343
I have some work in progress code for this. I can open a WIP PR tomorrow

[2019-04-08 22:56] drammock opened #368 "EyeLink calibration wierdness"
I'm setting up expyfun + EyeLink in Matt's lab, and we're hitting something really strange. When running the EyeLink calibration through expyfun, three unexpected things happen:

1. during both calibration and validation, the calibration dot locations are flipped up-down relative to what shows on the EyeLink monitor
2. during validation, only 4 of the 5 points are being tested; on the subject's sc

[2019-04-09 13:01] larsoner commented on #368
No ideas. I'm not sure that we've ever done vertical analysis beyond "how much vertical deviation was there" so I suppose it's possible that this has always been broken. Sounds like the definitions of "+Y" in the Eyelink/PyLink and `expyfun` are reversed. I'd try reversing them to see if it fixes things. Then we'll need to test at another site -- hopefully @maddycapp27 can try because I don't have

[2019-04-09 13:16] drammock commented on #368
Yup, setting up a 2.7 env to test is at the top of my to-do list for today.

On April 9, 2019 8:01:30 AM CDT, Eric Larson <notifications@github.com> wrote:

[2019-04-10 17:08] drammock commented on #368
Update:  Running pupillometry example test script in a py2.7 environment has the same problem: calibration points are flipped up/down between what shows on display screen and what shows on eyetracker monitor, and during validation the last point is skipped (causing pyeparse to choke after the dynamic range block, when it tries to parse the validation points and finds one too few lines, yielding `l

[2019-04-10 17:16] drammock commented on #368
The pyeparse problem can be hacked around by changing [here](https://github.com/LABSN/expyfun/blob/master/expyfun/_eyelink_controller.py#L657-L660) the two cases of `.format(nsamples)` to `.format(nsamples + 1)`

[2019-04-10 17:34] larsoner commented on #368
That's really weird. I don't know why this would be needed. Maybe there is some EyeLink software difference between the UW/UR systems and the UM one.

[2019-04-10 18:03] drammock commented on #368
I wondered about that, but Matt's psychtoolbox-based calibration setup doesn't have this vertical-flip weirdness.

[2019-04-10 18:07] larsoner commented on #368
The vertical flip could be a bug that has always been there. I'm talking about the number of samples business.

[2019-04-11 15:33] drammock opened #370 "TODO: detect click on RawImage"
This could either be a change in `wait_for_click_on` that allowed `RawImage` in the list of target objects, or (probably simpler) some convenience methods on `RawImage` that made it easier to spawn a transparent `Rectangle` over it (e.g., a method `get_rect` that would generate the `(x,y,w,h)` tuple needed by the `Rectangle` constructor.  (right now, `RawImage` only has a `bounds` attribute in pix

[2019-04-12 20:36] drammock opened #372 "ENH: send screenshot to EyeLink"
Wishlist: During tracking, Eyelink lets you draw (bitmap) graphics in its interface, and will overlay a gaze direction cursor, so you can see what parts of your experiment screen the participant is looking at. Add `EyeLinkController.send_screen` or similar, as well as a way to put EyeLink into the correct mode for showing this (it is "non-plot-mode").

NB: EyeLink recommends the bitmap drawing be

[2019-04-13 19:49] drammock opened #373 "ENH: expose eyelink filename"
...so users can set it to some other unique name of their choosing.

https://github.com/LABSN/expyfun/blob/3f1ea96144ba3eb5526f605cf25538081ce8808f/expyfun/_eyelink_controller.py#L296

[2019-04-13 19:51] drammock commented on #372
Note to self: not sure, but maybe this could be done through `EyelinkController.image_buffer`?

https://github.com/LABSN/expyfun/blob/master/expyfun/_eyelink_controller.py#L738

[2019-04-13 20:00] drammock commented on #368
update: I tried locally changing on [this line](https://github.com/LABSN/expyfun/blob/master/expyfun/_eyelink_controller.py#L650) `v_pix` to `-1 * v_pix` in an attempt to fix the up/down mismatch between what display shows and what EL monitor shows.  Perhaps predictably, it didn't fix it (rather it just effectively switched the order of whether top or bottom dot came first in the calibration seque

[2019-04-15 20:00] #370 closed

[2019-04-15 22:33] larsoner opened #374 "MAINT: Run make test-doc on CIs"
We should fix the errors and actually run `make test-doc` on Travis

[2019-04-15 23:38] drammock commented on #343
implemented in #366

[2019-04-15 23:38] #343 closed

[2019-06-05 15:55] maddycapp27 opened #380 "FIX: typo in rtmixer install instructions"
doc/rtmixer_installation.rst line 23:
``pip install python-sounddevice`` should be ``pip install sounddevice``

[2019-06-05 15:56] larsoner commented on #380
Can you make a quick PR to fix it?

[2019-07-09 20:26] rkmaddox opened #383 "n-channel audio where n > 2"
The very good news is that the `rtmixer` audio device is talking to our RME sound card with these settings:

[code]

So that is excellent. The trouble I am having now is that there are a lot of checks in there that try to force the sound to be two channels. I have removed enough of them that I don't get an error when I give `load_buffer` six channels of audio, but it still only plays from the firs

[2019-07-09 20:38] rkmaddox commented on #383
Some example log output, that shows that curiously the sound card I want to use is in fact being used, but seems to be initialized each time it plays a sound. The first time it uses 2 channels, the next time 12, then 2 every time after that.

[code]
   0 Microsoft Sound Mapper - Input, MME (2 in, 0 out)

   2 Microsoft Sound Mapper - Output, MME (0 in, 2 out)
<  3 Headphones (Rift Audio), MME (0 i

[2019-07-09 20:41] rkmaddox commented on #383
OK, so I have it sending to multiple channels on the RME! It is still not behaving exactly as I would expect, but I will spend a little more time on it before I ask more questions.

[2019-07-12 15:07] larsoner commented on #383
I think we should:

1. Choose whether we want to think of stimuli being shape `(n_samples, n_channels)` or `(n_channels, n_samples)`.
2. If 1D, duplicate across all channels
3. If > 1D, `n_channels` must be correct

This won't be 100% backward compatible, but fortunately our versioning system saves us from needing too much backward compat, and the changes required to adhere to this system are addi

[2019-07-12 15:09] larsoner commented on #337
I'm going to close this as you can do it for sound cards, and YAGNI for TDT at this point (feel free to reopen if I'm wrong)

[2019-07-12 15:09] #337 closed

[2019-07-12 15:11] rkmaddox commented on #337
Hooray sound cards!

[2019-07-12 15:15] larsoner commented on #380
This has been fixed

[2019-07-12 15:15] #380 closed

[2019-07-12 15:19] rkmaddox commented on #383
Hmmm. For safety that worries me a little. I don't want to accidentally play sound meant for one channel from 53 channels, because that is 34 dB louder than intended. But it probably still makes sense to do that for stereo.

So I think my vote would be either to (1) not make any assumptions and force dimensionality to match `n_channels` or (2) duplicate a single channel iff `n_channels == 2`.

I a

[2019-07-12 15:21] rkmaddox commented on #383
The other thing to note is that `n_channels` should be set in the `ec` object, and should not be taken from the device itself, since we will only be using 53--64 of the 194 possible output channels in the RME.

[2019-07-12 15:40] larsoner commented on #383
I can live with this

So the device might need to be initialized with a number of channels that is different from (<= than) the number of channels the experiment will use? We haven't had a use case for this yet, so it will require a bit of reworking, but should be doable. Basically `ec` will hold the logic for promoting the input to the correct `n_channels`.

- If `n_channels=2`, the stimulus has

[2019-07-12 15:51] rkmaddox commented on #383
Yes.

I actually think it will end up being common. Many sound cards have 2 analog outs followed by 2 or 4 etc. digital outs. I actually don't think we need to zero-pad though. When I send e.g. 6 channels of audio to the RME (e.g. a 6 x 100 array) using your code it just plays them on the first 6 channels, which is the desired behavior.

This will stay YAGNI for us because the RME software allows

[2019-07-12 16:21] larsoner opened #385 "MAINT: Support pyglet 1.4"
There are some nasty backward incompatible bits, and the docs have not been updated to reflect changes in API :(

[2019-07-12 16:46] larsoner commented on #358
FYI @rkmaddox Pyglet 1.4 is out. It no longer uses AVBin but rather FFmpeg. Maybe it works better.

But if we want to use that there is a lot more work to do because they have some backward incompatible stuff (#385).

I was planning to / hoping to get rid of Pyglet. But if you find that the FFmpeg video replay actually works, then that would be a good reason to support it.

[2019-07-12 17:16] #374 closed

[2019-07-12 17:26] drammock commented on #358
the avbin / ffmpeg change is a good thing.  It turns out there was a brief schism in the ffmpeg dev community, avbin was a splinter project that was (briefly) better, but has since been abandoned / merged back into ffmpeg.  Whether it's good enough when used through pyglet to do what @rkmaddox wants is a separate question, but if you want to test it I think we could (should?) switch our dependency

[2019-07-12 17:30] larsoner commented on #358
I don't think there is an FFmpeg source in Pyglet < 1.4

https://bitbucket.org/pyglet/pyglet/src/pyglet-1.3.2/pyglet/media/sources/

[2019-07-12 17:37] drammock commented on #383
+1 to use `(n_channels, n_samples)` as the expected shape for audio data arrays, and transposing internally as necessary for specific backends.

+1 to promote 1 channel to 2 iff n_channels==2

My fiddling in Matt's lab a couple months ago also suggests that zeropadding unused channels is unnecessary.

[2019-07-15 13:55] rkmaddox commented on #358
OK. I probably won't think about this until next time we need video. This will only help with loading videos, though, not presenting them right? Either way that will be good, since I think we ended up converting all our videos to images and then loading those in before each trial, which did introduce a longer inter-trial pause than was optimal.

[2019-08-01 19:01] #383 closed

[2019-08-21 18:29] mpolonenko opened #390 "BUG: rtmixer install instructions"
Current lines read:
[code]

Can't find `portaudio` headers
This worked (instructions came from https://github.com/spatialaudio/python-rtmixer):
[code]

[2019-08-21 20:03] larsoner commented on #390
@mpolonenko can you open a PR to add the `git submodule update --init` line?

I don't think that the `python3 -m pip` modification of `pip install` should be needed in general

[2019-08-21 20:39] mpolonenko commented on #390
@larsoner Yes, just opened a PR.

[2019-08-21 20:52] #390 closed

[2019-08-22 08:16] mgeier opened #392 "PortAudio installation?"
According to [doc/rtmixer_installation.rst](../blob/881f9b21003d7fc1f99b1c37809e4f01835cefb8/doc/rtmixer_installation.rst), the PortAudio library has to be installed manually.

However, this should only be necessary on Linux. The `.dll` and `.dylib` file is part of the `sounddevice` wheel package for Windows and macOS, respectively.

If this is not working for you, I would like to fix this in the

[2019-08-22 18:43] larsoner commented on #392
It's indeed possible that these instructions are out of date. I'm not sure where I got the stuff about `brew` actually....

I just did `brew uninstall portaudio` and things work on OSX, so looks like it's unnecessary there. Then I tried in my Windows VM and things worked there, too, so I'll remove the custom lines!

[2019-09-26 18:55] #385 closed

[2020-01-24 01:46] drammock opened #404 "add screen resolution to machine config"
We should specify expected screen resolution in machine config (or possibly experiment-level config?) and error out if fullscreen resolution does not match config value. Safety check against someone changing the system resolution settings unbeknownst to the researcher, and the researcher somehow not noticing.

[2020-02-03 14:20] #404 closed

[2020-02-10 15:30] JustinTFleming opened #407 "ec.load_buffer() is slow"
Loading a fairly large stimulus to the buffer (53 chans, 16 sec at 48kHz) is taking longer than expected: 6.93 sec, 7.04 sec, and 7.00 sec on three test runs.

Ross mentioned that this may be a known bug related to unnecessary memory copying.

[2020-02-10 15:41] larsoner commented on #407
@JustinTFleming indeed, we can probably avoid this by being more careful about copies.

[2020-03-04 23:52] #407 closed

[2020-06-19 14:00] larsoner commented on #358
FYI Pyglet has revamped their support to use FFMpeg and I recently fixed a bug with video in #413. I'm going to assume this will magically fix everything and mark that PR to close this one, but let's reopen if there continue to be issues. @rkmaddox feel free to try (or have others try) with the new code!

[2020-06-19 17:47] drammock opened #414 "need to update install dependencies"
Might be nice to have a "quick-start" installation section that includes something like the following

[code]

[2020-06-19 17:47] drammock commented on #414
(the missing dependency alluded to in the issue title is `pillow`)

[2020-06-19 17:51] larsoner commented on #414
Can you add this to https://labsn.github.io/expyfun/getting_started.html#dependencies ?

[2020-06-19 20:52] #358 closed

[2020-06-22 19:40] #414 closed

[2020-07-07 17:05] larsoner opened #418 "ENH: Add ability to set the `ec._ac.noise_array` to something other than white noise"
For @LiesbethGijbels

[2020-09-14 14:16] rkmaddox opened #420 "BUG: Order of `load_buffer` and `identify_trial` when `SOUND_CARD_TRIGGER_ID_AFTER_ONSET=True`"
When `load_buffer` comes before `identify_trial` there are no triggers on the first trial, but there are for all the remaining trials. Will need to dig in further to see if it is the correct one or the previous one.

Seems to work fine when `identify_trial` comes before `load_buffer`.

[2020-09-14 14:18] rkmaddox commented on #420
Would be ideal if it were order-agnostic.

[2020-12-11 15:46] rkmaddox opened #421 "ENH: Using 2-triggers to account for EEG-sound card clock drift"
We have recently discovered that the RME clock and the EEG clock run at ever so slightly different rates, slipping between 0.5 and 2 ms on a minute-long trial. There is a fairly simple fix, which is to use triggers to mark the beginning of the trial and another point or point(s) later in the trial.

This seems like a good use of the 2 trigger to us. A proposed solution would be that 2 triggers be

[2020-12-11 15:56] larsoner commented on #421
I don't see a problem with adding an option to the sound card triggering scheme to insert 2 triggers. I would say that the default should be just to add a single 2 to the end of the stimulus, no matter what its duration of the stimulus actually is. I have a feeling that this drift is going to be fixed across systems, so this can probably be estimated once during a given recording (likely EEG-sound

[2020-12-11 16:05] rkmaddox commented on #421
We could to that. It makes things a bit more complicated when there are variable-length stimuli, but perhaps we could jsut have one trigger time that can take either a number for seconds or a text input `'end'`? It also would need to be a short period of time before the end of the stim, because the trigger has some duration.

Strangely, it is _not_ fixed across systems, but it is stable over a rec

[2020-12-11 16:08] rkmaddox commented on #421
Took a look at that other issue and yeah very similar. For us we've been handling it at the trial level and resampling the stimuli to the actual EEG sampling rate before regressing. Regardless, having those 2's should allow whatever compensation mechanism we decide on to be implemented.

[2020-12-11 16:25] drammock commented on #421
This rang loud bells in my head, and I found an email from 2016 (!) where I noticed a bunch of clock drift warnings in a pilot I was doing, and never followed up on it :(

[2020-12-11 16:42] larsoner commented on #421
Yes my plan was to have the default just be the last `-n_samp_trigger:` samples have the 2 trigger. It's either in this mode, or the mode where it has `offset:offset+n_samp_trigger` be the 2 trigger where `offset` iterates over 10 sec sample offsets or whatever.

That would be great, happy to review!

[2020-12-11 16:44] rkmaddox commented on #421
@drammock If it's any consolation, I had and fixed this issue with a TDT in 2017, and then _proceeded to assume it wouldn't be a problem_ when switching to the RME...

[2021-02-10 19:30] ktavabi opened #423 "TypeError: read_tab() got an unexpected keyword argument 'allow_last_missing'"

[2021-02-10 19:44] larsoner commented on #423
Are you up to date? This should work if you're newer than Dec 18th

https://github.com/LABSN/expyfun/pull/422

[2021-02-10 20:14] #423 closed

[2021-05-05 18:33] drammock commented on #421
closed by #424

[2021-05-05 18:33] #421 closed

[2021-05-25 19:40] drammock opened #427 "DOC: bad install instructions"
the quick setup instructions say to use conda to install pyglet, but that only works from conda forge.  Should add a `-c conda-forge` to the command, or else move `pyglet` to the pip install line.

cc @ChristinaZhao

[2021-05-25 19:44] larsoner commented on #427
Either way is fine by me

[2021-05-27 17:11] #427 closed

[2021-06-28 21:06] bonniekwlau opened #429 "soundcard access error when re-running a script"
When stopping and re-running a script in Spyder, I get a "device unavailable" error. On the first run, there is no sound card access issue.

[2021-06-29 12:57] rkmaddox commented on #429
We have the same issue. A workaround is to close the python interpreter that the script was running in (while keeping Spyder open).

[2021-07-16 18:34] #429 closed

[2021-08-12 21:08] NeuroLaunch opened #431 "FIX: Expyfun package requirements"
When updating the UW lab's expyfun environment I ran into an issue where a pyglet method was not found.  Specifically, `.glMatrixMode` was not recognized during a call to `exp_controller_module`.   Apparently the issue arises from changes in pyglet's support of OpenGL, whereby glMatrixMode and other methods have been deprecated.

@drammock has suggested specifying pyglet < 2.0 in the package setup

[2021-08-17 15:56] larsoner commented on #431
The current stable release is 1.5.18, and indeed 2.0-flavor (which are currently in prerelease phase) are not supported. We'll have to refactor drawing once 2.0.0 is actually released.

[2021-08-17 23:15] NeuroLaunch commented on #431
Sorry, I may have jumped the gun then.  I had run a 'conda update conda',
which may have changed the pyglet version; alternatively, I see our stim
computer has a clone of the pyglet repo so the 2.0 version may have been
pulled in.  (I'm still getting used to the expyfun coding environment.)

On Tue, Aug 17, 2021 at 8:57 AM Eric Larson ***@***.***>
wrote:

[2021-08-17 23:38] larsoner commented on #431
If using the pyglet repo you want to be on the 1.5-maintenance branch, not main/master (which has 2.0-dev)

[2021-12-22 20:39] drammock opened #434 "cannot pip install expyfun"
- https://pypi.org/project/expyfun/ is currently a 404
- searching https://pypi.org/search/?q=expyfun yields no results
- `pip install expyfun` yields `ERROR: Could not find a version that satisfies the requirement expyfun (from versions: none) ERROR: No matching distribution found for expyfun`

[2021-12-22 20:40] drammock commented on #434
(I should add that other packages on pip are fine, e.g., [pyparallel](https://pypi.org/project/pyparallel/)

[2021-12-22 20:45] larsoner commented on #434
Oh yeah, I guess we have never actually released on PyPi. We should probably update those instructions to just use the GitHub URL

[2021-12-22 20:45] drammock commented on #434
I'll update the instructions now

[2022-01-03 18:23] #434 closed

[2022-01-03 20:08] drammock opened #436 "Cannot run simple_video example on Windows"
[code]

[2022-01-03 20:18] larsoner commented on #436
You probably need `pyglet-ffmpeg`. Maybe we should have a `pip install expyfun[video]` if we don't have it already

[2022-01-03 20:27] drammock commented on #436
hmm, just recreated the test env with `pyglet-ffmpeg` added to the `pip install` line, and I'm still getting the same error.

[2022-01-06 18:34] #436 closed

[2022-01-12 20:19] larsoner commented on #431
@NeuroLaunch can you make a PR to update https://github.com/LABSN/expyfun/blob/main/doc/getting_started.rst to tell people to use `pyglet-1.5-maintenance` rather than `master` if they're going that route? This also got @JustinTFleming recently

[2022-01-12 20:36] larsoner commented on #358
FYI @rkmaddox video should work much better on all platforms on latest `expyfun` once a new 1.5.22 pyglet is cut, or you use `pyglet-1.5-maintenance` branch like `pip install https://github.com/pyglet/pyglet/zipball/pyglet-1.5-maintenance`

[2022-01-13 00:35] NeuroLaunch commented on #431
@larsoner Yes, I can do that.

[2022-01-20 14:49] #431 closed

[2022-02-28 20:55] JustinTFleming opened #444 "Unable to change window size for video playback"
Using the FFMPEG integration from the latest expyfun release, I am able to play MP4 videos at the size of the example video in simple_video.py: window_size = (720, 480). Playing at a smaller screen size and changing the aspect ratio (e.g. with window_size = (688, 387), which is 16:9) are both fine, but making the video window much larger -- or attempting to play it full screen -- causes problems o

[2022-10-19 17:09] tomstoll opened #446 "ec.refoucs() doesn't bring window to the front"
Calling `ec.refoucs()` grabs keyboard focus, but the window remains behind the IDE. Adding `_user32.SetWindowPos(m_hWnd, -1, 0, 0, 0, 0, 0x0001 | 0x0002)` to the `refocus` function solves the issue (I put it at line 2180 of _experiment_controller.py). Equivalent code is [already in the function](https://github.com/LABSN/expyfun/blob/6c11b8ac5d0b3c3576c1a93ee49708e8e5c68079/expyfun/_experiment_cont

[2022-10-19 17:19] tomstoll commented on #446
I also find that the following lines ([2182](https://github.com/LABSN/expyfun/blob/6c11b8ac5d0b3c3576c1a93ee49708e8e5c68079/expyfun/_experiment_controller.py#L2181), [2187](https://github.com/LABSN/expyfun/blob/6c11b8ac5d0b3c3576c1a93ee49708e8e5c68079/expyfun/_experiment_controller.py#L2187))
[code]
are all that's required to set keyboard focus to the experiment window (at least on our computer).

[2022-10-24 16:51] larsoner commented on #446
Did you test both windowed and fullscreen mode?

BTW back when we first worked on this in Windows 7, the only way we could guarantee accurate flip timing was in fullscreen mode. No idea if that's still the case in Windows 10+...

Could be it broke something at some point, or didn't have any effect. But if it works for you in both windowed and fullscreen mode let's trust how it works nowadays!

I w

[2022-10-26 18:39] tomstoll commented on #446
I just did a quick test with both full screen and windowed mode. Everything seems to work as expected, I'll make a PR when I get a chance.

Maybe worth noting, the computer we're using now runs windows 10. We still have our old computer that runs windows 7, so I'll hook it back up and see if the change breaks anything.

[2022-10-26 19:13] tomstoll commented on #446
As far as I can tell, it doesn't seem to break anything. However, it also isn't necessary on our old computer. I'm not sure if it's because it's an older version of Spyder or because it's Windows 7, but the experiment window is brought to the front when it's created even without calling ec.refoucs().

[2022-11-01 16:36] #446 closed